// Webfont CDN
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

// Custom variable overrides
$font-family-sans-serif:      'Spoqa Han Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$blue:    #497CC8;
// $body-bg: #497CC8;
// $body-color: #497CC8;
$theme-colors: (
  // "primary": #7774d9,
  // "danger": #ff4136
);

// Bootstrap and its default variables
@import "./../node_modules/bootstrap/scss/bootstrap";



