// Webfont CDN
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

// Font
$font-family-sans-serif: 'Spoqa Han Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1450px
) !default;

// Border
$border-radius:     2px;
$border-radius-lg:  2px;
$border-radius-sm:  2px;

// Body
$body-bg: #f2f3f8;
$body-color: #4F4F4F;

// Border Color
$table-border-color: #e5e5e5;
$input-border-color: #e5e5e5;

// Theme Colors
$primary: #67ABFF;
$secondary: #C6CCD5;
$dark: #53627E;

// Add a new Theme color
$theme-colors: (
  "navy": #4275C4
);

// Tootip
$tooltip-bg:                  #384C67;

// Font Weight
$font-weight-light:           100;
$font-weight-normal:          300;
$font-weight-bold:            400;

// Table
$table-hover-bg:             white;

// Modal
$modal-inner-padding:         2.5rem;
$modal-header-padding:        1.5rem 0 1.5rem 2.5rem;
$modal-lg:                          1000px;
$modal-md:                          800px;
$modal-sm:                          600px;

// Badges
$badge-font-size:                   85%;
$badge-padding-y:                   .4em;
$badge-pill-padding-x:              .7em;

// Pagination
$pagination-border-color:           #E5E5E5;
$pagination-color:                  #4f4f4f;
$pagination-hover-color:            #4f4f4f;
$pagination-hover-bg:               white;
$pagination-padding-x:              .85rem;
$pagination-active-color:           #4f4f4f;
$pagination-active-bg:              #F2F3F8;
$pagination-active-border-color:    #E5E5E5;


// Bootstrap and its default variables
@import "./../node_modules/bootstrap/scss/bootstrap";



