// Webfont CDN
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

// Custom variable overrides
$font-family-sans-serif:      'Spoqa Han Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$border-radius: 2px;
$table-border-color: #e5e5e5;
$body-bg: #67ABFF;
$body-color: #4F4F4F;
$theme-colors: (
  // "dark": #f84C67
);

$tooltip-bg:                  #384C67;
$font-weight-light:           100;
$font-weight-normal:          300;
$font-weight-bold:            600;

// Bootstrap and its default variables
@import "./../node_modules/bootstrap/scss/bootstrap";



