//----------- Variables -----------//

$onda: #67ABFF
$navy-blue: #4275C4
$blue: #4B95FF
$red: #F4516C
$light: #C4C4C4
$white-gray: #f8f9fb
$border-color: #E5E5E5

$available: #BDDDFF
$waiting: $blue
$complete: $red
$callonly: #FFB822
$blocked: $light

$left-side-width: 16rem
$left-side-padding: 2rem

//------------ Extends -------------//
%box-shadow
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, .05)

%cover-image
  background: url('/images/no-image.png') no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover


//------------ Bootstrap Overides ----------//
.btn
  font-weight: 400
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show>.btn-light.dropdown-toggle
  color: white
  background-color: $navy-blue
  border-color: $navy-blue
.btn-light
  background-color: #F2F3F8
.table-bordered thead th, .table-bordered thead td
    border-bottom-width: 1px
.input-group-text
  color: #929292
  background-color: $white-gray
.form-group
  margin-bottom: 1.5rem
.border
  border: 1px solid $border-color !important
.btn
  &.btn-primary, &.btn-secondary
    color: white
.btn.btn-small
  font-size: .9rem
  font-weight: 300
  padding: .5rem .7rem
.btn.btn-lg
  font-size: 1.15rem
  padding: .5rem 2.3rem

.table
  td
    padding: .5rem
  thead th
    border: 0
    padding: 1.2rem .5rem
    font-weight: 600
  tbody
    td, th
      border-top: 0
      border-bottom: 1px solid $border-color
  &.align-middle
    td, th
      vertical-align: middle
  tr.move
    td
      opacity: .4
  .checkbox
    .custom-control
      width: 1rem
      padding: 0 .2rem
      margin: 0 auto
      .custom-control-label
        &:after

.table.table-comfort
  td, th
    padding: 1rem

.form-control
  font-weight: 300
  &.dirty
    background-color: #FFF5DB
  &:disabled
    background-color: $white-gray
    color: #929292

.form-control-plaintext
  font-weight: 300
.bg-light
  background-color: #F8F9FB !important

select.custom-select
  background: #fff url('/images/angle-down.svg') no-repeat right .75rem center


//------------ CSS Style Utilities ----------//
.text-red
  color: $red
.text-blue
  color: $blue
.text-onda
  color: $onda
.text-dark
  color: #4f4f4f
.font-xsmall
  font-size: 0.85rem


//----------- Initiate -----------//
html
  font-size: 14px
body
.form-group
  margin-bottom: 20px
  label
    font-weight: 400

.btn-white
  border-color: $border-color
  color: #4F4F4F
  &:hover
    color: #4F4F4F
  i.fa
    color: #929292

.grabbable
  cursor: move
  cursor: -webkit-grab

// Custom Checkbox & Radio
.custom-control
  margin-left: .25rem
  .custom-control-label
    font-weight: 300
    padding-left: 1px
  &.custom-checkbox
    margin-left: .2em
    .custom-control-label
      &:after
        width: 1.5em
        height: 1.5em
        background-color: white
        border: 1px solid #bbb
        border-radius: 3px
        left: -.2em
        top: .1em
    .custom-control-input:checked
      + .custom-control-label
        &:after
          background: white url('/images/checkbox_check.svg') center center no-repeat
  &.custom-radio
    .custom-control-label
      &:after
        width: 1.45rem
        height: 1.45rem
        background-color: white
        border: 1px solid #bbb
        border-radius: 1.4rem
        left: -.2em
        top: .1em
    .custom-control-input:checked
      + .custom-control-label
        &:after
          background: $onda url('/images/Oval.svg') center center no-repeat
          border-color: $onda

// Checkbox group
.check-group
  .custom-checkbox
    display: inline-block
    width: 132px
    margin: .4rem 0
    font-size: .9rem
    .custom-control-label
      padding-top: 1px

// Slider ui
.slider-ui
  box-sizing: border-box
  color: white
  width: 100vw
  z-index: 15
  position: fixed
  bottom: 0
  left: 0
  background-color: #53627E
  padding: 40px
  height: 10rem
  white-space: nowrap
  color: white
  .close
    position: absolute
    right: 1rem
    top: 1.5rem
    transition: all .3s
    &:hover
      filter: brightness(1)
  &.show
    bottom: 0
    transition: all 0.5s
  &.hidden
    bottom: -10rem
    transition: all 0.5s
  table
    th
      font-weight: 300

.form-control-datepicker
  background: url('/images/ic-calendar-gray.svg') center right .5rem no-repeat

.info
  color: $onda
  font-size: .85rem
  font-weight: 400
  padding: .5rem 0

/* The switch - the box around the slider
.switch
  position: relative
  display: inline-block
  width: 76px
  height: 28px
  margin: 6px 0 0 0
  input
    display: none
  &.disabled
    .slider
      background-color: #eaeaea
.slider
  position: absolute
  cursor: pointer
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: $onda
  -webkit-transition: .3s
  transition: .3s
  &:after
    content: '판매'
    position: absolute
    z-index: 10
    left: 0
    top: 4px
    color: #fff
    font-size: 12px
    width: 3.8rem
    text-align: center
  &:before
    position: absolute
    content: ' '
    height: 26px
    width: 26px
    left: 49px
    bottom: 1px
    background-color: #fff
    -webkit-transition: .2s
    transition: .2s
input
  &:checked + .slider
    background-color: #ccc
    &:after
      content: '미판매'
      width: 7rem
      right: 0
      text-align: center
      color: white
  &:focus + .slider
    box-shadow: 0 0 1px #ccc
  &:checked + .slider:before
    -webkit-transform: translateX(-48px)
    -ms-transform: translateX(-48px)
    transform: translateX(-48px)
.slider.round
  border-radius: 34px
  &:before
    border-radius: 50%

.switch.online
  .slider:after
    content: '온라인'
  input:checked + .slider:after
    content: '현장'
.switch.available
  .slider:after
    content: '가능'
  input:checked + .slider:after
    content: '불가'


//----------- Layout -----------//
#main-nav
  display: flex
  position: fixed
  left: 0
  top: 0
  width: $left-side-width
  height: 100vh
  background-color: $onda
  z-index: 3
  color: white
  font-weight: 100
  .first-dapth
    display: flex
    flex-direction: column
  .brand
    padding: 1.5rem $left-side-padding
    text-align: center
    font-size: 1.5rem
    word-break: keep-all
  nav
    margin: 4rem 0
    a
      display: flex
      align-items: center
      padding: 1.2rem $left-side-padding
      color: white
      text-decoration: none
      transition: all .3s
      img
        margin-right: .75rem
      span
      &:hover
        background-color: darken($onda, 1%)
      &.active
        background-color: $navy-blue
  .widget-timer
    padding: 1.5rem $left-side-padding
    .day, .month
      font-size: .85rem
      opacity: .5
    .date
      margin-top: 1rem
      text-align: center
      font-size: 4rem
      font-weight: 400
      &:after
        content: '일'
        font-size: 1rem
        font-weight: 300
        margin-left: .25rem

// Two Depth Nav
#main-nav
  .first-depth
    width: $left-side-width
  .second-depth
    display: none
    width: $left-side-width
    background-color: $navy-blue
    vertical-align: center
#main-nav.two-depth
  width: calc(#{$left-side-width} * 2)
  .nav-group
    padding: 1.5rem $left-side-padding
    .group-title
      font-size: .85rem
      opacity: .5
      margin-bottom: 1rem
      font-weight: 100
    a
      display: block
      color: white
      text-decoration: none
      padding: .3rem 0
      &.active
        color: #A3F2BF
  hr
    border-color: lighten($navy-blue, 7%)
    margin: 0 1.8rem

// Sub Nav
#sub-nav
  position: fixed
  top: 0
  left: 0
  display: flex
  justify-content: flex-end
  width: 100%
  height: 4.5rem
  padding: 1.5rem 2rem 1.5rem calc(#{$left-side-width} + 2rem)
  background-color: white
  @extend %box-shadow
  z-index: 2
  a
    color: #4f4f4f
    padding: 0 1rem
    text-decoration: none
    &:last-child
      padding-right: 0



// Content Container
.content-container
  display: flex
  flex-direction: column
  background-color: #f2f3f8
  min-height: 100vh
  padding: 7rem 2.5rem 0 calc(#{$left-side-width} + 2.5rem)

// Artboard
.artboard
  background-color: white
  padding: 3rem 3rem 4rem 3rem
  @extend %box-shadow
  margin-bottom: 3rem
  .board-title
    font-weight: 600
    font-size: 1.3rem
    border-bottom: 1px solid $border-color
    padding: 0 3rem 1.5rem 3rem
    margin: -1.5rem -3rem 1.5rem -3rem
  .board-container
    max-width: 900px


// Two Depth Layout
body.two-depth
  #sub-nav
    padding: 1.5rem 2rem 1.5rem calc(#{$left-side-width} * 2 + 2rem)
  .content-container
    padding: 7rem 2.5rem 0 calc(#{$left-side-width} * 2 + 2.5rem)

#nav-rateplan.second-depth
  .nav-group
    padding-top: 22rem

// Footer
footer
  display: flex
  align-items: center
  padding: 1rem 2.5rem
  margin: auto -2.5rem 0 -2.5rem
  font-size: .9rem
  border-top: 1px solid $border-color


//----------- 객실달력, 일별요금 달력 -----------//
.calendar-controler
  .year-month
    font-size: 2rem
    font-weight: 400

.status-model
  align-items: flex-end
  font-size: 0.85rem
  .status-badge
    padding: .15rem
    margin-left: 1.5rem
    margin-right: .3rem
    flex-shrink: 0
    &.callonly
      background-position: 3px 3px
    &.blocked
      background-position: 2px 2px
  .color-amended, .color-eve
    display: inline-block
    width: 1.2rem
    height: 1.2rem
    margin-right: .25rem
    margin-left: 1.5rem
    position: relative
    top: 1px
  .color-amended
    background-color: #EAEAFF
  .color-eve
    background-color: #FCE6E6

.table-calendar
  width: 100%
  min-width: 900px
  th, td
    padding: .8rem
    width: 14.29%
    vertical-align: top
  .dimed
      opacity: .4
  .today
    box-shadow: inset 0 0 0 1px #222222
    .room
      margin: 0 -.7rem
      padding: .2rem .7rem
  thead
    th
      text-align: center
      font-weight: 400
  tbody
    td.other-month
      background-color: $white-gray
    .day-header
      display: flex
      align-items: center
      margin-bottom: .5rem
      .season
        margin-left: auto
        color: $light
        font-size: .9rem
    .room
      display: flex
      align-items: center
      margin: 0 -.8rem
      padding: .2rem .8rem
      cursor: pointer
      .name
        padding: 0 5px
        line-height: 1rem
      .stock
        margin-left: auto
        font-size: .85rem
      &.dimed
        color: $light
      &:hover
        background-color: lighten($white-gray, 1%)

.table-calendar-week
  th, td
    width: 12.5%
    vertical-align: middle
  thead
    th
      text-align: left
      .day
        line-height: 1rem
      .header
        display: flex
        justify-content: space-between
        align-items: flex-end
        .date
          font-size: 2.2rem
          line-height: 2.2rem
          padding-top: .3rem
        .season
          color: $light
        font-size: .9rem
  tbody
    .status-badge
      margin: .2rem
      cursor: pointer
      transition: all .3s
      &:hover
        box-shadow: inset 0 0 0 1rem rgba(0, 0, 0, .05)
    th
      font-weight: 300
    td
      line-height: 1rem

.table-calendar-daily
  td
    padding-bottom: 1.5rem
  .custom-control
    margin-top: .7rem
  td.amended
    background-color: #EAEAFF
  td.eve
    background-color: #FCE6E6

.status-badge
  position: relative
  display: inline-block
  flex-shrink: 0
  background-color: $available
  color: white
  width: 12px
  height: 12px
  box-sizing: content-box
  padding: 8px
  &:before
    position: absolute
    left: calc(50% - 6px)
    top: calc(50% - 6px)
    font-size: 12px
    line-height: 12px
    font-weight: 400
  &.available
    background-color: $available
    &:before
      content: '가'
  &.complete
    background-color: $complete
    &:before
      content: '완'
  &.waiting
    background-color: $waiting
    &:before
      content: '대'
  &.callonly
    background: $callonly url('/images/callonly.svg') 8px 9px no-repeat
    background-size: 11px
  &.blocked
    background: $blocked url('/images/blocked.svg') 8px 8px no-repeat
    background-size: 13px

//----------- 요금설정 Page -----------//
.table-rate
  td
      padding: .5rem .25rem
  tr.sub-header
    th
      font-weight: 300
  .form-control
    text-align: right
    width: 6rem
    margin: 0 auto


//---------- 업체설정 Pages --------------//
.image-upload
  .unit
    padding-bottom: .75rem
    .image
      position: relative
      height: 130px
      border: 1px solid $border-color
      @extend %cover-image
    &.first-image
      .image:before
        position: absolute
        left: 0
        top: 0
        content: '대표사진'
        padding: .25rem .5rem
        background-color: #384C67
        color: white
        font-size: .85rem
    .delete
      position: absolute
      right: 0
      bottom: 0
      background-color: lighten(#384C67, 10%)
      color: white
      text-decoration: none
      padding: .25rem
      transition: all .3s
      border-radius: 2px

//----------- 시즌달력 page -----------------//

// 비수기
$cal-season01: white
// 준성수기
$cal-season02: #86A9E9
// 성수기
$cal-season03: #F16C6C
// 커스텀 시즌스
$cal-season04: #F2BC48
$cal-season05: #8BCE54
$cal-season06: #8F85F4
$cal-season07: #D288DB
$cal-season08: #64C2D0

.rectangle
  width: 1.5rem
  height: 1.5rem
  background: $white-gray
  display: block
  &.season01
    background-color: $cal-season01
    box-shadow: inset 0 0 0 1px $border-color
  &.season02
    background-color: $cal-season02
  &.season03
    background-color: $cal-season03
  &.season04
    background-color: $cal-season04
  &.season05
    background-color: $cal-season05
  &.season06
    background-color: $cal-season06
  &.season07
    background-color: $cal-season07
  &.season08
    background-color: $cal-season08

table
  .rectangle
    margin: 0 auto

.calendar-group
  margin-top: 4rem
  .month-wrapper
    float: left
    margin: 0 0 3rem 3rem
    .month-title
      font-size: 1.1rem
      font-weight: 400
      margin-bottom: .5rem
    .tabel-calendar-small
      // border: 1px solid $border-color
      th, td
        // border: 1px solid $border-color
        text-align: center
        width: 2rem
        height: 2rem
        vertical-align: middle
      th
        font-weight: 300
      tbody
        td
          position: relative
          overflow: hidden
          cursor: default
          &.today
            box-shadow: inset 0 0 0 2px #222222
          &.holiday
            &:after
              position: absolute
              right: -6px
              top: -6px
              content: ''
              width: 12px
              height: 12px
              transform: rotate(45deg)
              background-color: #222222
          &.season02, &.season03, &.season04, &.season05, &.season06, &.season07, &.season08
            color: white
          &.season01
            background-color: $cal-season01
          &.season02
            background-color: $cal-season02
          &.season03
            background-color: $cal-season03
          &.season04
            background-color: $cal-season04
          &.season05
            background-color: $cal-season05
          &.season06
            background-color: $cal-season06
          &.season07
            background-color: $cal-season07
          &.season08
            background-color: $cal-season08

//----------- 문자발송 정보 Page --------------//
.sms-form
  background-color: #F0F7FF
  border-radius: 10px
  width: 85%
  margin: .5rem auto 0 auto
  padding: 1.25rem
.text-length
  text-align: right
  width: 85%
  margin: .5rem auto 0 auto
  font-size: .85rem
  color: #4f4f4f


//---------- Responsive: Smaller than 1200px ----------//
@media only screen and (max-width: 1199px)
  html
    font-size: 12px
  .content-container
    padding: 2.5rem !important
  .status-badge
    padding: .15rem
    &.callonly
      background-position: 3px 3px
    &.blocked
      background-position: 2px 2px

  // Responsive Navigation
  #main-nav
    position: relative
    display: block
    width: 100%
    min-width: 1050px
    height: auto
    .first-depth
      display: flex
      justify-content: space-between
      width: 100%
      .brand
        display: inline-block
        padding: .9rem 2.5rem
      nav
        margin: 0 1rem 0 0
        a
          display: inline-block
          padding: 1.3rem 1.4rem
          font-size: 1.2rem
          img
            position: relative
            top: -2px
            margin-right: .5rem
    .widget-timer
      display: none

  // Two Depth Nav
  #main-nav
    &.two-depth
      width: 100%
    .second-depth
      width: 100%
      position: absolute
      padding-left: 16rem
      .nav-group
        display: inline-block
        vertical-align: top
        padding: 2rem 2.5rem
        .group-title
          margin-bottom: .5rem
        .pl-2
          padding-left: 0 !important
      hr
        display: none
    #nav-rateplan
        .nav-group
          a
            display: inline-block
            margin-right: 2rem

  // Sub Nav
  #sub-nav
    position: relative
    padding: 1.5rem 2.5rem !important
