$gray: #999999




html
  font-size: 15px



//------- Chart Test -------//
h4.month
  color: $gray

.table-chart
  th, td
    width: 12.5%
  thead
    .day
      font-weight: 400
      font-size: .9rem
      line-height: .9rem
      color: $gray
    .date
      font-size: 3rem
      line-height: 3rem
      font-weight: 400
  tbody
    td
      button
        margin: .25rem
    .roomtype
      font-weight: 400

.table-chart-month
  tbody
    td
      width: 14.29%
      border-bottom: 2px solid #666
      .day, .date
        font-weight: 400
      .date
        margin-bottom: 2rem
        font-size: 1.4rem
      .roomtype
        border-top: 1px solid #eee
        padding: .5rem 0
        button
          margin: .25rem











//------- Responsive ----------//
@media only screen and (max-width: 1200px)
  html
    font-size: 10px


