#main-nav.left
  .brand 데이먼 해달별펜션
  nav
    a(href='#')
      img(src='/images/ic-list.svg')
      span 예약목록
    a.active(href='#')
      img(src='/images/ic-calendar.svg')
      span 객실달력
    a(href='#')
      img(src='/images/ic-block.svg')
      span 방막기
    a(href='#')
      img(src='/images/ic-caculator.svg')
      span 정산목록
    a(href='#')
      img(src='/images/ic-gear.svg')
      span 업체설정
  .widget-timer
    .d-flex.justify-content-between
      .day Friday
      .month Feb. 2018
    .date 12


  .onda-logo
    img(src='/images/onda-logo-white.svg')