#main-nav
  .first-depth
    a.brand(href='/') 데이먼 해달별펜션
    nav
      a.foldOpt(onclick='foldNav()', title='메뉴 펼치기')
        i.fa.fa-angle-left.fa-lg
        span 메뉴접기
      a(href='#', title='예약목록')
        img(src='/images/ic-list.svg')
        span 예약목록
      a.calendar(href='/calendar', title='객실달력')
        img(src='/images/ic-calendar.svg')
        span 객실달력
      a(href='#', title='방막기')
        img(src='/images/ic-block.svg')
        span 방막기
      a.rateplan(href='/rateplan', title='요금설정')
        img(src='/images/ic-block.svg')
        span 요금설정
      a(href='#', title='할인설정')
        img(src='/images/ic-caculator.svg')
        span 할인설정
      a(href='#', title='정산목록')
        img(src='/images/ic-caculator.svg')
        span 정산목록
      a(href='#', title='리포트')
        img(src='/images/ic-caculator.svg')
        span 리포트
      a.setting(href='/setting/property', title='설정')
        img(src='/images/ic-gear.svg')
        span 설정
    .widget-timer
      .d-flex.justify-content-between
        .day Friday
        .month Feb. 2018
      .date
        | 12
        small 일

  //- 업체설정 메뉴
  #nav-setting.second-depth
    .nav-group
      .group-title 업체설정
      .pl-2
        a.property(href='/setting/property') 숙소정보
        a.rooms(href='/setting/rooms') 객실정보
        a.service(href='/setting/service') 부가서비스
        a.policy(href='/setting/policy') 취소환불정책
    hr
    .nav-group
      .group-title 판매설정
      .pl-2
        a(href='#') 판매환경 설정
        a(href='#') 자동할인 설정
        a.daily(href='/setting/daily') 일자별 요금 설정
    hr
    .nav-group
      .group-title 실시간 예약창
      .pl-2
        a.bp(href='/setting/bp') 예약창 운영정보
        a.notice(href='/setting/notice') 예약창 공지사항
        a.sms(href='/setting/sms') 문자발송 정보
        a.url(href='/setting/url') 홈페이지 설치안내
    hr
    .nav-group
      .group-title 온라인 판매대행
      .pl-2
        a.gds(href='/setting/gds') 판매사 연동신청
        a(href='#') 판매사 연동현황

  //- 요금설정 메뉴
  #nav-rateplan.second-depth
    .nav-group
      a.season00(href='#') 전체시즌
      a.season01(href='#') 비수기
      a.season02(href='/rateplan') 준성수기
      a.season03(href='#') 성수기

