#main-nav
  .first-depth
    a.brand(href='/') 데이먼 해달별펜션
    nav
      a.foldOpt(onclick='foldNav()', title='메뉴 펼치기')
        i.fa.fa-angle-left.fa-lg
        span 메뉴접기
      a.reservation-list(href='/reservation-list', title='예약목록')
        img(src='/assets/images/ic-list.svg')
        span 예약목록
      a.calendar(href='/calendar', title='객실달력')
        img(src='/assets/images/ic-calendar.svg')
        span 객실달력
      a.room-block(href='/room-block', title='방막기')
        img(src='/assets/images/ic-block.svg')
        span 방막기
      a.rateplan(href='/rateplan', title='기본요금')
        img(src='/assets/images/ic-block.svg')
        span 기본요금
      a.price-chart(href='/chart', title='할인요금')
        img(src='/assets/images/ic-caculator.svg')
        span 할인요금
      a.payment(href='/payment', title='정산목록')
        img(src='/assets/images/ic-caculator.svg')
        span 정산목록
      a.report(href='/report', title='리포트')
        img(src='/assets/images/ic-caculator.svg')
        span 리포트
      a.setting(href='/setting', title='설정')
        img(src='/assets/images/ic-gear.svg')
        span 설정
    .widget-timer
      .d-flex.justify-content-between
        .day Friday
        .month Feb. 2018
      .date
        | 12
        small 일

  //- 업체설정 메뉴
  #nav-setting.second-depth
    .wrapper
      .nav-group
        .group-title 판매설정
        .pl-2
          a.basic(href='/setting/basic') 기본설정
          a.property(href='/setting/property') 숙소정보
          a.rooms(href='/setting/rooms') 객실정보
          a.policy(href='/setting/policy') 취소환불정책
          a.auto(href='/setting/auto') 자동할인 설정
          a.daily(href='/setting/daily') 일자별 요금 설정
      hr
      .nav-group
        .group-title 실시간 예약창
        .pl-2
          a.bp(href='/setting/bp') 예약창 기본설정
          a.service(href='/setting/service') 부가서비스
          a.multiday(href='/setting/multiday') 연박 설정
          a.notice(href='/setting/notice') 팝업 공지사항
          a.sms(href='/setting/sms') 문자발송 정보
          a.url(href='/setting/url') 홈페이지 설치안내
      hr
      .nav-group
        .group-title 온라인 판매대행
        .pl-2
          a.gds(href='/setting/gds') 판매사 연동신청
          a.gds-status(href='/setting/gds-status') 판매사 연동현황

  //- 요금설정 메뉴
  #nav-rateplan.second-depth
    .wrapper
      .nav-group
        a.season00(href='#') 전체시즌
        a.season01(href='#') 비수기
        a.season02(href='/rateplan') 준성수기
        a.season03(href='#') 성수기
        a.mt-5(href='#') 시즌추가

  //- 정산내역 메뉴
  #nav-payment.second-depth
    .wrapper
      .nav-group
        a.history(href='/payment') 정산목록
        a.revenue(href='/revenue') 기간별 매출목록



