//-------------- 예약조회 --------------//
.pms-slider#edit
  .layover(onclick='closePmsSlider()')
  .pms-slider-board
    .pms-slider-header
      h5.modal-title 예약조회
      img.x(src='/assets/images/close.svg', onclick='closePmsSlider()')

    .pms-slider-body
      .form-slim
        .label 예약자
        input.input.pb-1(type='text', value='정인혁', style='font-size: 1.8rem')
        span.underline
      .form-slim.mt-4
        .label 예약상태
        input.input(type='text', value='예약완료', readonly)
      //- 직접취소
      .text-right.my-2
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#cancelModal') 예약취소
      //- 취소요청
      .text-right.my-2
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#cancelRequestModal') 예약취소 요청
      .form-slim
        .label 예약번호
        input.input(type='text', value='#8329152', readonly)
      .form-slim
        .label 판매채널
        input.input(type='text', value='PC예약창', readonly)
      .form-slim
        .label 예약일시
        input.input(type='text', value='2018-03-20 15:27', readonly)
      .form-slim
        .label 입실일
        input.input.pencil(type='text', value='2018-03-20(1박)', data-toggle='modal', data-target='#roomAddModal', readonly)
        span.underline
      .form-slim
        .label 퇴실일
        input.input.pencil(type='text', value='2018-03-21', data-toggle='modal', data-target='#roomAddModal', readonly)
        span.underline
      .py-3
      .label.mb-0 객실
      .row.mb-3
        .col.pt-1
          | 하늘채 사랑방
          br
          button.btn.btn-white.btn-close.mt-1(type='button', data-placement='bottom', data-toggle='tooltip', title='삭제')
            i.fa.fa-times.fa-lg
        .col
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 성인
            input.form-control.text-right(type='number', min='1', max='99', value='2')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 아동
            input.form-control.text-right(type='number', min='0', max='99', value='0')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 유아
            input.form-control.text-right(type='number', min='0', max='99', value='0')
      .row.mb-3
        .col.pt-1
          | 정원 테라스방
          br
          button.btn.btn-white.btn-close.mt-1(type='button', data-placement='bottom', data-toggle='tooltip', title='삭제')
            i.fa.fa-times.fa-lg
        .col
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 성인
            input.form-control.text-right(type='number', min='1', max='99', value='2')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 아동
            input.form-control.text-right(type='number', min='0', max='99', value='0')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 유아
            input.form-control.text-right(type='number', min='0', max='99', value='0')
          .text-right
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#roomAddModal')
              i.fa.fa-plus.fa-lg.mr-1
              | 객실 추가
      .py-3
      .label 부가서비스
      .form-row.mb-3
        .col-9.pt-1 숯,그릴(2인)(10,000원)
        .col-3
          select.custom-select
            option 0
            option 1
            option(selected) 2
            option 3
      .form-row.mb-3
        .col-9.pt-1 바베큐 캠프파이어 이벤트(20인)(190,000원)
        .col-3
          select.custom-select
            option 0
            option 1
            option 2
            option 3
      .py-3
      .form-slim
        .label 도착예정시간
        input.input.pencil(type='text', value='15:00')
        span.underline
      .form-slim
        .label 퇴실예정시간
        input.input.pencil(type='text', value='11:00')
        span.underline
      .form-slim
        .label 연락처
        input.input.pencil(type='text', value='010-1345-5504')
        span.underline
      .py-3
      .label 고객 요청사항
      .form-slim
        textarea.input(rows='3')
          | 늦게 도착할수도 있을것 같아서 도착하기 두시간 정도 전에 전화드리고 바베큐 좀 부탁드릴게요
        span.underline
      .py-3
      .label.mt-3 손님맞이 준비
      label.custom-control.custom-checkbox.custom-control-inline.mr-4
        input.custom-control-input(type='checkbox')
        span.custom-control-label 차량픽업
      label.custom-control.custom-checkbox.custom-control-inline
        input.custom-control-input(type='checkbox')
        span.custom-control-label 바베큐
      label.custom-control.custom-checkbox.custom-control-inline
        input.custom-control-input(type='checkbox')
        span.custom-control-label 조식
      .py-3
      .label.mt-3 관리자 메모
      .form-slim
        textarea.input(rows='1')
          | 위메프티켓 J4C3I5GLDL9K
        span.underline

      .buttons
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#receiptModal') 영수증 인쇄
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#cashTaxModal') 현금영수증 발행
        button.btn.btn-white(type='button', data-toggle='dropdown') 신용카드 매입전표
        .dropdown-menu.dropdown-menu-right.bordered-menu.p-0
          a.dropdown-item(href='#')
            .form-row
              .col-2
                b #1
              .col-7.text-right 30,000원
              .col-3
                small.text-muted (6079)
          a.dropdown-item(href='#')
            .form-row
              .col-2
                b #2
              .col-7.text-right 170,000원
              .col-3
                small.text-muted (5331)
          a.dropdown-item(href='#')
            .form-row
              .col-2
                b #3
              .col-7.text-right 5,000원
              .col-3
                small.text-muted (0017)
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#smsModal') 문자발송내역
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#historyModal') 변경내역


    #accordion
      .toggle-btn.bg-light(data-toggle='collapse', href='#price-summary')
        span.text-muted 결제내역 상세보기
      .pms-slider-footer
        .form-slim
          .label(style='bottom: 1px')
            b(style='color: #4F4F4F; font-size: 1rem;') 총 결제금액
          input.input.text-blue.border-0(type='text', value='370,000원', readonly, style='font-weight: 600')

        //-- 결제내역 상세보기: 실시간 예약창 - 무통장입금
        //- #price-summary.collapse.pb-3(data-parent='#accordion')
          .form-slim
            .label 무통장 입금
            input.input.pencil(type='text', value='370,000원')
            span.underline
          .text-right.mt-3
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#editInvoiceModal') 청구요금 수정

        //-- 결제내역 상세보기: 실시간 예약창 - 카드결제
        //- #price-summary.collapse.pb-3(data-parent='#accordion')
          .form-slim
            .label 카드 (6079)
            input.input.pencil(type='text', value='350,000원', data-toggle='dropdown', readonly)
            span.underline
            .dropdown-menu.dropdown-menu-right.bordered-menu.p-0
              a.dropdown-item(href='#') 전액 취소
              a.dropdown-item(href='#') 부분 취소
          .text-right.mt-3
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#editInvoiceModal') 청구요금 수정

        //-- 결제내역 상세보기: 실시간 예약창 - 무통장입금, 현장결제
        //- #price-summary.collapse.pb-3(data-parent='#accordion')
          .form-slim
            .label 카드 (6079)
            input.input.pencil(type='text', value='350,000원', data-toggle='dropdown', readonly)
            span.underline
            .dropdown-menu.dropdown-menu-right.bordered-menu.p-0
              a.dropdown-item(href='#') 전액 취소
              a.dropdown-item(href='#') 부분 취소
          .form-slim
            .label 현금
            input.input.pencil(type='text', value='20,000원')
            span.underline
          .text-right.mt-3
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#editInvoiceModal') 청구요금 수정

        //-- 결제내역 상세보기: 실시간 예약창 - 카드결제, 현장결제
        //- #price-summary.collapse.pb-3(data-parent='#accordion')
          .form-slim
            .label 무통장입금
            input.input.pencil(type='text', value='350,000원')
            span.underline
          .form-slim
            .label 현금
            input.input.pencil(type='text', value='20,000원')
            span.underline
          .text-right.mt-3
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#editInvoiceModal') 청구요금 수정

        //-- 결제내역 상세보기: GDS 결제
        //- #price-summary.collapse.pb-3(data-parent='#accordion')
          .form-slim
            .label 판매사 결제(티몬)
            input.input.border-0(type='text', value='370,000원', readonly)
          .text-right.mt-3
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#editInvoiceModal') 청구요금 수정

        //-- 결제내역 상세보기: 초과금 발생
        //- #price-summary.collapse.pb-3(data-parent='#accordion')
          .form-slim
            .label 판매사 결제(티몬)
            input.input.border-0(type='text', value='400,000원', readonly)
          .form-slim
            .label 환불 금액
            input.input.text-red.border-0(type='text', value='70,000원', readonly)
          .text-right.mt-3
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#editInvoiceModal') 청구요금 수정

        //-- 결제내역 상세보기: 예약변경 미수금 발생
        #price-summary.collapse.pb-3(data-parent='#accordion')
          .form-slim
            .label 무통장입금
            input.input.pencil(type='text', value='310,000원')
            span.underline
          .form-slim
            .label 현금
            input.input.pencil(type='text', value='20,000원')
            span.underline
          .form-slim
            .label 카드 (6079)
            input.input.pencil(type='text', value='20,000원', data-toggle='dropdown', readonly)
            span.underline
            .dropdown-menu.dropdown-menu-right.bordered-menu.p-0
              a.dropdown-item(href='#', data-toggle='modal', data-target='#cancelCardModal') 전액 취소
              a.dropdown-item(href='#', data-toggle='modal', data-target='#cancelCardModal') 부분 취소
          .form-slim
            .label 받을금액
            input.input.pencil.text-blue(type='text', value='40,000원', data-toggle='dropdown', readonly)
            span.underline
            .dropdown-menu.dropdown-menu-right.bordered-menu.p-0
              a.dropdown-item(href='#', data-toggle='modal', data-target='#wireTransferModal') 무통장 입금
              a.dropdown-item(href='#', data-toggle='modal', data-target='#cashModal') 현금
              a.dropdown-item(href='#', data-toggle='modal', data-target='#keyinModal') 카드 수기결제
          .text-right.mt-3
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#editInvoiceModal') 청구요금 수정


    //- 하단 저장 버튼
    button.btn.btn-primary.btn-lg.pms-btn(type='button', onclick='closePmsSlider()') 저장




//-------------- 취소된 예약 --------------//
.pms-slider#canceled
  .layover(onclick='closePmsSlider()')
  .pms-slider-board
    .pms-slider-header
      h5.modal-title 예약조회
      img.x(src='/assets/images/close.svg', onclick='closePmsSlider()')

    .pms-slider-body
      .form-slim
        .label 예약자
        input.input.pb-1(type='text', value='정인혁', style='font-size: 1.8rem')
        span.underline
      .form-slim.mt-4
        .label 예약상태
        input.input(type='text', value='예약취소', readonly)
      .text-right.my-2
        button.btn.btn-white(type='button')
          img.mr-1(src='/assets/images/return.svg', style='margin-top: -3px')
          | 예약복구
        button.btn.btn-white.ml-1(type='button')
          i.fa.fa-times.fa-lg.mr-1
          | 예약삭제
      .form-slim
        .label 예약번호
        input.input(type='text', value='#8329152', readonly)
      .form-slim
        .label 판매채널
        input.input(type='text', value='PC예약창', readonly)
      .form-slim
        .label 예약일시
        input.input(type='text', value='2018-03-20 15:27', readonly)
      .form-slim
        .label 입실일
        input.input.pencil(type='text', value='2018-03-20(1박)', data-toggle='modal', data-target='#roomAddModal', readonly)
        span.underline
      .form-slim
        .label 퇴실일
        input.input.pencil(type='text', value='2018-03-21', data-toggle='modal', data-target='#roomAddModal', readonly)
        span.underline
      .py-3
      .label.mb-0 객실
      .row.mb-3
        .col.pt-1
          | 하늘채 사랑방
          br
          button.btn.btn-white.btn-close.mt-1(type='button', data-placement='bottom', data-toggle='tooltip', title='삭제')
            i.fa.fa-times.fa-lg
        .col
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 성인
            input.form-control.text-right(type='number', min='1', max='99', value='2')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 아동
            input.form-control.text-right(type='number', min='0', max='99', value='0')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 유아
            input.form-control.text-right(type='number', min='0', max='99', value='0')
      .row.mb-3
        .col.pt-1
          | 정원 테라스방
          br
          button.btn.btn-white.btn-close.mt-1(type='button', data-placement='bottom', data-toggle='tooltip', title='삭제')
            i.fa.fa-times.fa-lg
        .col
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 성인
            input.form-control.text-right(type='number', min='1', max='99', value='2')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 아동
            input.form-control.text-right(type='number', min='0', max='99', value='0')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 유아
            input.form-control.text-right(type='number', min='0', max='99', value='0')
          .text-right
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#roomAddModal')
              i.fa.fa-plus.fa-lg.mr-1
              | 객실 추가
      .py-3
      .label 부가서비스
      .form-row.mb-3
        .col-9.pt-1 숯,그릴(2인)(10,000원)
        .col-3
          select.custom-select
            option 0
            option 1
            option(selected) 2
            option 3
      .form-row.mb-3
        .col-9.pt-1 바베큐 캠프파이어 이벤트(20인)(190,000원)
        .col-3
          select.custom-select
            option 0
            option 1
            option 2
            option 3
      .py-3
      .form-slim
        .label 도착예정시간
        input.input.pencil(type='text', value='15:00')
        span.underline
      .form-slim
        .label 퇴실예정시간
        input.input.pencil(type='text', value='11:00')
        span.underline
      .form-slim
        .label 연락처
        input.input.pencil(type='text', value='010-1345-5504')
        span.underline
      .py-3
      .label 고객 요청사항
      .form-slim
        textarea.input(rows='3')
          | 늦게 도착할수도 있을것 같아서 도착하기 두시간 정도 전에 전화드리고 바베큐 좀 부탁드릴게요
        span.underline
      .py-3
      .label.mt-3 손님맞이 준비
      label.custom-control.custom-checkbox.custom-control-inline.mr-4
        input.custom-control-input(type='checkbox')
        span.custom-control-label 차량픽업
      label.custom-control.custom-checkbox.custom-control-inline
        input.custom-control-input(type='checkbox')
        span.custom-control-label 바베큐
      label.custom-control.custom-checkbox.custom-control-inline
        input.custom-control-input(type='checkbox')
        span.custom-control-label 조식
      .py-3
      .label.mt-3 관리자 메모
      .form-slim
        textarea.input(rows='1')
          | 위메프티켓 J4C3I5GLDL9K
        span.underline

      .buttons
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#receiptModal') 영수증 인쇄
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#cashTaxModal') 현금영수증 발행
        button.btn.btn-white(type='button', data-toggle='dropdown') 신용카드 매입전표
        .dropdown-menu.dropdown-menu-right.bordered-menu.p-0
          a.dropdown-item(href='#')
            .form-row
              .col-2
                b #1
              .col-7.text-right 30,000원
              .col-3
                small.text-muted (6079)
          a.dropdown-item(href='#')
            .form-row
              .col-2
                b #2
              .col-7.text-right 170,000원
              .col-3
                small.text-muted (5331)
          a.dropdown-item(href='#')
            .form-row
              .col-2
                b #3
              .col-7.text-right 5,000원
              .col-3
                small.text-muted (0017)
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#smsModal') 문자발송내역
        button.btn.btn-white(type='button', data-toggle='modal', data-target='#historyModal') 변경내역

    #accordion2
      .toggle-btn.bg-light(data-toggle='collapse', href='#price-summary2')
        span.text-muted 결제내역 상세보기
      .pms-slider-footer
        .form-slim.mb-0
          .label(style='bottom: 1px')
            b(style='color: #4F4F4F; font-size: 1rem;') 총 결제금액
          input.input.text-blue.border-0(type='text', value='370,000원', readonly, style='font-weight: 600')

        //-- 결제내역 상세보기: 취소된 예약
        #price-summary2.collapse.pb-2(data-parent='#accordion2')
          .form-slim
            .label 판매사 결제(티몬)
            input.input.border-0(type='text', value='204,000원', readonly)
          .small.text-muted(style='margin-top: -.5rem; margin-bottom: .5rem')
            | * 3일전 취소
            span.text-red.mx-1 40%
            | 환불
          .form-slim
            .label 환불 금액
            input.input.text-red.border-0(type='text', value='136,000원', readonly)
          .text-right.mt-3
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#editInvoiceModal') 청구요금 수정


    //- 하단 저장 버튼
    button.btn.btn-primary.btn-lg.pms-btn(type='button', onclick='closePmsSlider()') 저장



//--------------- 예약생성 -------------------//
.pms-slider#create
  .layover(onclick='closePmsSlider()')
  .pms-slider-board
    .pms-slider-header
      h5.modal-title 예약생성
      img.x(src='/assets/images/close.svg', onclick='closePmsSlider()')

    .pms-slider-body
      .form-slim
        .label 예약자
        input#name.input.pb-1(type='text', value='', style='font-size: 1.8rem')
        span.underline
      .form-slim.mt-4.mb-2
        .label 예약상태
        select.custom-select
          option 예약완료
          option(selected) 입금대기
          option 예약취소
      .form-slim
        .label 입실일
        input.input.pencil(type='text', value='2018-03-20(1박)', data-toggle='modal', data-target='#roomAddModal', readonly)
        span.underline
      .form-slim
        .label 퇴실일
        input.input.pencil(type='text', value='2018-03-21', data-toggle='modal', data-target='#roomAddModal', readonly)
        span.underline
      .py-3
      .label.mb-0 객실
      .row.mb-3
        .col.pt-1
          | 하늘채 사랑방
          br
          button.btn.btn-white.btn-close.mt-1(type='button', data-placement='bottom', data-toggle='tooltip', title='삭제')
            i.fa.fa-times.fa-lg
        .col
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 성인
            input.form-control.text-right(type='number', min='1', max='99', value='2')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 아동
            input.form-control.text-right(type='number', min='0', max='99', value='0')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 유아
            input.form-control.text-right(type='number', min='0', max='99', value='0')
      .row.mb-3
        .col.pt-1
          | 정원 테라스방
          br
          button.btn.btn-white.btn-close.mt-1(type='button', data-placement='bottom', data-toggle='tooltip', title='삭제')
            i.fa.fa-times.fa-lg
        .col
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 성인
            input.form-control.text-right(type='number', min='1', max='99', value='2')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 아동
            input.form-control.text-right(type='number', min='0', max='99', value='0')
          .input-group.mb-2
            .input-group-prepend
              .input-group-text 유아
            input.form-control.text-right(type='number', min='0', max='99', value='0')
          .text-right
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#roomAddModal')
              i.fa.fa-plus.fa-lg.mr-1
              | 객실 추가
      .py-3
      .label 부가서비스
      .form-row.mb-3
        .col-9.pt-1 숯,그릴(2인)(10,000원)
        .col-3
          select.custom-select
            option 0
            option 1
            option 2
            option 3
      .form-row.mb-3
        .col-9.pt-1 바베큐 캠프파이어 이벤트(20인)(190,000원)
        .col-3
          select.custom-select
            option 0
            option 1
            option 2
            option 3
      .py-3
      .form-slim
        .label 도착예정시간
        input.input.pencil(type='text', value='')
        span.underline
      .form-slim
        .label 퇴실예정시간
        input.input.pencil(type='text', value='')
        span.underline
      .form-slim
        .label 연락처
        input.input.pencil(type='text', value='')
        span.underline
      .py-3
      .label 고객 요청사항
      .form-slim
        textarea.input(rows='3')
        span.underline
      .py-3
      .label.mt-3 손님맞이 준비
      label.custom-control.custom-checkbox.custom-control-inline.mr-4
        input.custom-control-input(type='checkbox')
        span.custom-control-label 차량픽업
      label.custom-control.custom-checkbox.custom-control-inline
        input.custom-control-input(type='checkbox')
        span.custom-control-label 바베큐
      label.custom-control.custom-checkbox.custom-control-inline
        input.custom-control-input(type='checkbox')
        span.custom-control-label 조식
      .py-3
      .label.mt-3 관리자 메모
      .form-slim
        textarea.input(rows='1')
        span.underline
      .py-3
      .label.mt-3 입금문자 발송
      label.custom-control.custom-checkbox
        input.custom-control-input(type='checkbox')
        span.custom-control-label 고객에게 입금안내 문자를 발송합니다.
        span.underline

    #accordion
      .toggle-btn.bg-light(data-toggle='collapse', href='#price-summary2')
        span.text-muted 결제내역 상세보기
      .pms-slider-footer
        .form-slim.mb-0
          .label(style='bottom: 1px')
            b(style='color: #4F4F4F; font-size: 1rem;') 총 결제금액
          input.input.text-blue.border-0(type='text', value='370,000원', readonly, style='font-weight: 600')
        #price-summary2.collapse.pb-2(data-parent='#accordion')
          .form-slim
            .label 무통장입금
            input.input.pencil(type='text', value='250,000원')
            span.underline
          .form-slim
            .label 현장결제
            input.input.pencil(type='text', value='0원')
            span.underline
          .text-right.mt-3
            button.btn.btn-white.btn-small(type='button', data-toggle='modal', data-target='#editInvoiceModal') 청구요금 수정

    button.btn.btn-primary.btn-lg.pms-btn(type='button', onclick='closePmsSlider()') 저장





















//- 객실추가/변경 Modal
#roomAddModal.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title 객실추가/변경
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-inline.mb-3
          select.custom-select.mr-3
            option(selected) 맨하탄
            option 아스토리아
            option 브롱스
            option 부르클린
            option 스테이튼 아일랜드
          input.form-control.form-control-datepicker(type='text', value='2017.07.16(수)', size='18')
          span.px-2 ~
          input.form-control.form-control-datepicker(type='text', value='2017.08.20(목)', size='18')
          button.btn.btn-white.btn-close.ml-2(type='button', data-toggle='tooltip', title='삭제')
            i.fa.fa-times.fa-lg
        .form-inline
          select.custom-select.mr-3
            option 맨하탄
            option(selected) 아스토리아
            option 브롱스
            option 부르클린
            option 스테이튼 아일랜드
          input.form-control.form-control-datepicker(type='text', value='2017.07.16(수)', size='18')
          span.px-2 ~
          input.form-control.form-control-datepicker(type='text', value='2017.08.20(목)', size='18')
          button.btn.btn-white.btn-close.ml-2(type='button', data-toggle='tooltip', title='삭제')
            i.fa.fa-times.fa-lg
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 저장

//- 무통장입금 Modal
#wireTransferModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 무통장입금
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-2 받을 금액
          .col-sm-10.text-blue 70,000원
        .form-group.row
          label.col-sm-2.pt-1 금액입력
          .col-sm-10
            input.form-control(type='text', value='70,000')
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 확인

//- 현금 Modal
#cashModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 현금
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-2 받을 금액
          .col-sm-10.text-blue 70,000원
        .form-group.row
          label.col-sm-2.pt-1 금액입력
          .col-sm-10
            input.form-control(type='text', value='70,000')
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 확인

//- 카드 수기결제 Modal
#keyinModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 카드 수기결제
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-2 받을 금액
          .col-sm-10.text-blue 80,000원
        .form-group.row
          label.col-sm-2.pt-1 금액입력
          .col-sm-10
            input.form-control(type='text', value='70,000')
        .form-group.row
          label.col-sm-2.pt-1 카드번호
          .col-sm-10
            .form-row
              .col
                input.form-control(type='text')
              .col
                input.form-control(type='text')
              .col
                input.form-control(type='text')
              .col
                input.form-control(type='text')
        .form-group.row
          label.col-sm-2.pt-1 유효기간
          .col-sm-10
            input.form-control(placeholder='MM/YY')
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 확인

//- 카드 취소 Modal
#cancelCardModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 카드취소
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-3 취소 가능 금액
          .col-sm-9.text-red 70,000원
        .form-group.row
          label.col-sm-3.pt-1 금액입력
          .col-sm-9
            input.form-control(type='text', value='70,000')
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 확인

//- 예약 취소 Modal
#cancelModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 예약취소
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-3 객실
          .col-sm-9 2018-03-20 (1박) 하늘채 사랑방
        .form-group.row
          label.col-sm-3 총 결제금액
          .col-sm-9 370,000원
        .form-group.row
          label.col-sm-3 취소 수수료
          .col-sm-9 120,000원
        .form-group.row
          label.col-sm-3 환불 금액
          .col-sm-9
            .text-red 120,000원
            .small
              | * 3일전 취소
              span.text-red.mx-1 40%
              | 환불
        .form-group.row
          label.col-sm-3.pt-1 카드 환불 금액
          .col-sm-9
            input.form-control(type='text', value='250,000')
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 확인

//- 예약 취소요청 Modal
#cancelRequestModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 예약취소 요청
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-3.pt-1 분류
          .col-sm-9
            select.custom-select
              option 중복예약
              option 예약변경
              option 고객취소요청
              option 숙소이용불가
        .form-group.row
          label.col-sm-3.pt-1 요청내용
          .col-sm-9
            textarea.form-control(rows='5')
        .form-group.row
          label.col-sm-3.pt-1 예약번호
          .col-sm-9
            input.form-control(type='text', value='8329152')
        .form-group.row
          label.col-sm-3.pt-1 업체명
          .col-sm-9
            input.form-control(type='text', value='데이먼 해달별 펜션')
        .form-group.row
          label.col-sm-3.pt-1 담당자명
          .col-sm-9
            input.form-control(type='text', value='홍길동')
        .form-group.row
          label.col-sm-3.pt-1 연락처
          .col-sm-9
            input.form-control(type='text', value='010-1111-2222')
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 요청

//- 현금영수증 발행 Modal
#cashTaxModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 현금영수증 발행
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-3 총 금액
          .col-sm-9
            | 150,000원
            .small.text-muted
              | 무통장입금 100,000원
              br
              | 현금 50,000원
        .form-group.row
          label.col-sm-3.pt-1 발행금액
          .col-sm-9
            input.form-control(type='text', value='150,000')
        .form-group.row
          label.col-sm-3 구분
          .col-sm-9
            label.custom-control.custom-radio.custom-control-inline.mr-4
              input.custom-control-input(type='radio', name='radio1', checked)
              span.custom-control-label 개인
            label.custom-control.custom-radio.custom-control-inline
              input.custom-control-input(type='radio', name='radio1')
              span.custom-control-label 사업자

        //- 개인일 경우
        //- .form-group.row
          label.col-sm-3.pt-1 번호입력
          .col-sm-9
            label.custom-control.custom-radio.custom-control-inline.mr-4
              input.custom-control-input(type='radio', name='radio2', checked)
              span.custom-control-label 핸드폰
            label.custom-control.custom-radio.custom-control-inline
              input.custom-control-input(type='radio', name='radio2')
              span.custom-control-label 국세청 현금영수증 카드번호
            //- 핸드폰
            .form-inline.mt-2
              input.form-control(type='text', style='width: 4rem')
              span.px-2 -
              input.form-control(type='text', style='width: 5rem')
              span.px-2 -
              input.form-control(type='text', style='width: 5rem')
            //- 국세청 현금영수증 카드번호
            //- .form-inline.mt-2
              input.form-control(type='text', style='width: 5rem')
              span.px-2 -
              input.form-control(type='text', style='width: 5rem')
              span.px-2 -
              input.form-control(type='text', style='width: 5rem')
              span.px-2 -
              input.form-control(type='text', style='width: 7rem')

        //- 사업자일 경우
        .form-group.row
          label.col-sm-3.pt-1 사업자 번호
          .col-sm-9
            .form-inline
              input.form-control(type='text', style='width: 4rem')
              span.px-2 -
              input.form-control(type='text', style='width: 3rem')
              span.px-2 -
              input.form-control(type='text', style='width: 5rem')
        .form-group.row
          label.col-sm-3.pt-1 업체명
          .col-sm-9
            input.form-control(type='text')
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 발행

//- 청구요금 수정 Modal
#editInvoiceModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title 청구요금 수정
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        table.table.table-bordered.align-middle.text-center
          thead.bg-light
            tr
              th(style='width: 12rem') 이용일
              th 상품구분
              th 상품명
              th 수량
              th(style='width: 10rem') 가격
              th(style='width: 4.5rem')
          tbody
            tr
              td(rowspan='2') 2018.04.01(월)
              td(rowspan='2') 객실
              td.text-left 하늘채 사랑방
              td 1박
              td
                input.form-control.text-right(type='text', value='76,000')
              td
            tr
              td.text-left
                img.pb-2.pr-2(src='/assets/images/tree.svg')
                | 추가인원(성인1명, 유아1명)
              td 2명
              td
                input.form-control.text-right(type='text', value='15,000')
              td
            tr
              td(rowspan='2') 2018.04.02(화)
              td(rowspan='2') 객실
              td.text-left 달맞이방
              td 1박
              td
                input.form-control.text-right(type='text', value='120,000')
              td
            tr
              td.text-left
                img.pb-2.pr-2(src='/assets/images/tree.svg')
                | 추가인원(성인1명, 유아1명)
              td 2명
              td
                input.form-control.text-right(type='text', value='27,000')
              td
            tr
              td 2018.04.02(화)
              td 부가서비스
              td.text-left 4인 바베큐
              td 1개
              td
                input.form-control.text-right(type='text', value='60,000')
              td
            tr
              td
                select.custom-select
                  option 2018.04.01(월)
                  option 2018.04.02(화)
              td 수기입력
              td
                input.form-control(type='text')
              td
              td
                input.form-control.text-right(type='text')
              td
                button.btn.btn-white.btn-close(type='button', data-toggle='tooltip', title='삭제')
                  i.fa.fa-times.fa-lg
          tfoot.bg-light
            tr
              th.border-0(colspan='3')
              th.border-0 총 금액
              th.text-right.border-0.pr-4 298,000원
              th.border-0

        .text-right
          button.btn.btn-white(type='button')
            i.fa.fa-plus.mr-1
            | 수기입력 추가

        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 저장


//- 영수증 인쇄 Modal
#receiptModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title 영수증 인쇄
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body#printReceiptArea
        h5.text-center.mt-5 영수증
        .text-center.mb-5 조영수 고객님 010-5122-4447
        h6.mb-2 청구내역
        table.table.align-middle.text-center(style='border-top: 2px solid #929292')
          thead.bg-light
          tbody
            tr
              td(rowspan='2', style='width: 12rem') 2018.04.01(월)
              td(rowspan='2', style='min-width: 8rem') 객실
              td.text-left 하늘채 사랑방
              td(style='width: 5rem') 1박
              td.text-right(style='width: 10rem') 76,000
            tr
              td.text-left
                img.pb-2.pr-2(src='/assets/images/tree.svg')
                | 추가인원(성인1명, 유아1명)
              td 2명
              td.text-right(style='width: 10rem') 15,000
            tr
              td(rowspan='2') 2018.04.02(화)
              td(rowspan='2') 객실
              td.text-left 달맞이방
              td 1박
              td.text-right(style='width: 10rem') 120,000
            tr
              td.text-left
                img.pb-2.pr-2(src='/assets/images/tree.svg')
                | 추가인원(성인1명, 유아1명)
              td 2명
              td.text-right(style='width: 10rem') 27,000
            tr
              td 2018.04.02(화)
              td 부가서비스
              td.text-left 4인 바베큐
              td 1개
              td.text-right(style='width: 10rem') 60,000
            tr
              td 2018.04.02(화)
              td 수기입력
              td.text-left 침구추가
              td 1개
              td.text-right(style='width: 10rem') 10,000
          tfoot.bg-light
            tr
              th(colspan='3')
              th 총 금액
              th.text-right 298,000원

        .py-3

        h6.mb-2 지불내역
        table.table.align-middle.text-center(style='border-top: 2px solid #929292')
          thead.bg-light
          tbody
            tr
              td(rowspan='2', style='width: 12rem') 2018-03-20 15:27
              td(rowspan='2', style='min-width: 5.2rem')
              td.text-left 판매사 결제(티몬)
              td(style='width: 5rem')
              td.text-right(style='width: 10rem') 80,000
            tr
              td.text-left
                img.pb-2.pr-2(src='/assets/images/tree.svg')
                | 할인
              td
              td.text-right(style='width: 10rem') 30,000
            tr
              td(rowspan='4')  2018-03-20 15:27
              td(rowspan='4')
              td.text-left 카드(6078)
              td
              td.text-right(style='width: 10rem') 50,000
            tr
              td.text-left 무통장입금
              td
              td.text-right(style='width: 10rem') 40,000
            tr
              td.text-left 현금 결제
              td
              td.text-right(style='width: 10rem') 80,000
            tr
              td.text-left 환불
              td
              td.text-right(style='width: 10rem')
                .text-red -30,000

          tfoot.bg-light
            tr
              th(colspan='3')
              th 총 금액
              th.text-right 298,000원
            tr
              th(colspan='3')
              th 잔액
              th.text-right 0원

        .text-center.pt-5(style='width: 14rem; margin: 0 auto')
          .mb-2 상기 금액을 영수하였습니다.
          input.form-control-plaintext.text-center(type='text', value='2018.04.03')

        .text-center.pt-5.d-print-none
          button.btn.btn-primary.btn-lg(type='button', onclick="printDiv('printReceiptArea')") 인쇄

        .d-flex.justify-content-between.mt-5
          div
            | 데이먼 해달별 펜션
            small.text-muted.ml-2 서울특별시 중구 소월로 50 ㅣ +82-2-753-4512
          img(src='/assets/images/onda-logo.svg', style='width: 50px')

//- 변경내역 Modal
#historyModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title 변경내역
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        table.table.align-middle.text-center
          thead.bg-light
            tr
              th(style='width: 12rem') 변경일시
              th 내용
          tbody
            tr
              td 2017-03-20 15:20
              td.text-left 조영수님 카드 수기결제 [100,000]
            tr
              td 2017-03-20 15:20
              td.text-left 조영수님 달방 퇴실일 변경 [2018.03.21] 에서 [2018.03.22]
            tr
              td 2017-03-20 15:20
              td.text-left 조영수님 예약상태 변경 [입금대기] 에서 [예약완료]
            tr
              td 2017-03-20 15:20
              td.text-left 조영수님 신규예약생성

//- 문자발송내역 Modal
#smsModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title SMS 발신내역
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        table.table.text-center.align-middle
          thead.bg-light
            tr
              th(style='width: 42%') 메세지
              th 발신번호
              th 수신번호
              th 발송일시
              th 상태
          tbody
            tr
              td.text-left
                | [ONDA(티포트)] 예약이 취소되었습니다.
                br
                | - 예약채널: TMON
                br
                | - 예약번호: TM-P5GGUKA4T
                br
                | - 예약자명: 박혜연
                br
                | - 연락처: 01029972659
                br
                | - 업체명: [파주]임진강리조트
                br
                | - 객실명: 콘도(온돌)
                br
                | - 이용기간: 2018.03.24.(토)~2018.03.25.(일) (1박 2일)
                br
                |- 결제금액: 55,000원
              td 1544-3812
              td 010-1111-2222
              td
                | 2017.03.20
                br
                | 15:20
              td
                span.text-red 전송실패
                br
                | 1111 전달
            tr
              td.text-left
                | [ONDA(티포트)] 예약이 취소되었습니다.
                br
                | - 예약채널: TMON
                br
                | - 예약번호: TM-P5GGUKA4T
                br
                | - 예약자명: 박혜연
                br
                | - 연락처: 01029972659
                br
                | - 업체명: [파주]임진강리조트
                br
                | - 객실명: 콘도(온돌)
                br
                | - 이용기간: 2018.03.24.(토)~2018.03.25.(일) (1박 2일)
                br
                |- 결제금액: 55,000원
              td 1544-3812
              td 010-1111-2222
              td
                | 2017.03.20
                br
                | 15:20
              td
                | 전송완료