#sub-nav
  .searchbox
    input.form-control-plaintext(type='text', onfocus='this.placeholder = "고객명/판매사/전화번호 검색"', onblur='this.placeholder = " "' )
  //- a(href='http://13.125.138.100:3300/', target='_blank') 홈페이지
  a(href='#') 홈페이지
  //- a(href='/as3d21f3a2s1df') 404 Page
  //- a(href='/maintnence') 시스템 점검
  a(href='http://13.125.138.100:3400/bp-calendar', target='_blank') 실시간 예약창(달력형-PC)
  a(href='/bp-mobile-prototype', target='_blank') 실시간 예약창(달력형-Mobile)
  //- a(href='http://13.125.138.100:3400/', target='_blank') 실시간 예약창(검색형)
  //- a(href='http://13.125.138.100:3400/', target='_blank') 날짜검색 예약창(반응형)
  a(href='/season-year-calendar') 시즌달력
  a.dropdown(href='#', data-toggle='dropdown')
    img(src='/assets/images/user.svg')
  .dropdown-menu
    .small.text-muted.px-3.pt-2 숙소선택
    a.dropdown-item(href='#') 라비앤로즈펜션
    a.dropdown-item(href='#') 노을에기댄언덕
    a.dropdown-item(href='#') 씨엔마운틴펜션
    .dropdown-divider
    a.dropdown-item(href='/notice') 공지사항
    a.dropdown-item(href='#', data-toggle='modal', data-target='#requestModal') 문의&amp;수정요청
    a.dropdown-item(href='/account') 정산정보
    a.dropdown-item(href='/member') 직원관리
    a.dropdown-item(href='/login') 로그아웃


//- 문의&수정요청 Modal
#requestModal.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title 문의 &amp; 수정요청
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-2.pt-1 내용
          .col-sm-10
            textarea.form-control(rows='8')
            .info 예약관련 문의는 예약번호를 함께 적어주세요.
        .form-group.row
          label.col-sm-2.pt-1 업체명
          .col-sm-10
            input.form-control(type='text', value='레몬테라스')
        .form-group.row
          label.col-sm-2.pt-1 문의자
          .col-sm-10
            input.form-control(type='text', value='홍길동')
        .form-group.row
          label.col-sm-2.pt-1 연락처
          .col-sm-10
            input.form-control(type='text', value='010-2256-5900')
        -
          var message01 = `
            swal({
              type: "success",
              title: "메세지가 전송 되었습니다.",
              text: "운영자 확인 후 빠르게 연락드리겠습니다.",
              confirmButtonText: "확인",
            });
          `
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal', onclick= message01) 신청
