include ./includes/header.pug

//-------- 정산정보 ---------//
body
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 정산정보
      .board-container
        .form-group.row
          label.label-necessary.col-sm-2.pt-1 정산계좌
          .col-sm-10
            .form-row
              .col-3
                select.custom-select
                  option 은행선택
                  option 국민은행
                  option 기업은행
                  option 농협
                  option 대구은행
                  option 부산은행
                  option 새마을
                  option 수협
                  option 신한은행
                  option 신협중앙회
                  option 우리은행
                  option 우체국
                  option 전북은행
                  option 제일은행
                  option 제주은행
                  option KEB하나은행
              .col-6
                input.form-control(type='text', placeholder='계좌번호')
              .col-3
                input.form-control(type='text', placeholder='예금주')
        .form-group.row
          label.label-necessary.col-sm-2.pt-1 사업자 구분
          .col-sm-10
            label.custom-control.custom-radio.custom-control-inline.mr-4
              input.custom-control-input(type='radio', name='radio1', checked)
              span.custom-control-label 사업자
            label.custom-control.custom-radio.custom-control-inline
              input.custom-control-input(type='radio', name='radio1')
              span.custom-control-label 개인
        .form-group.row
          label.label-necessary.col-sm-2.pt-1 사업자 번호
          .col-sm-10
            input.form-control(type='text')
        .form-group.row
          label.label-necessary.col-sm-2.pt-1 사업자 상호
          .col-sm-10
            input.form-control(type='text')
        .form-group.row
          label.label-necessary.col-sm-2.pt-1 사업자 소재지
          .col-sm-10
            input.form-control(type='text')
        .form-group.row
          label.label-necessary.col-sm-2.pt-1 대표자
          .col-sm-10
            input.form-control(type='text')
        .form-group.row
          label.col-sm-2.pt-1 업태
          .col-sm-10
            input.form-control(type='text')
        .form-group.row
          label.col-sm-2.pt-1 업종
          .col-sm-10
            input.form-control(type='text')
        .form-group.row
          label.col-sm-2.pt-1 종목
          .col-sm-10
            input.form-control(type='text')
        .form-group.row
          label.col-sm-2.pt-1 세금계산서 수신 이메일
          .col-sm-10
            input.form-control(type='text')
        .form-group.row
          label.col-sm-2.pt-1 적용시점
          .col-sm-10
            .form-inline
              label.custom-control.custom-radio.custom-control-inline.mr-4
                input.custom-control-input(type='radio', name='radio1')
                span.custom-control-label 즉시
              label.custom-control.custom-radio.custom-control-inline
                input.custom-control-input(type='radio', name='radio1', checked)
                span.custom-control-label 날짜지정
              input.form-control.form-control-datepicker(type='text', value='2017.07.16(수)', size='18')

        .text-center.pt-4
          button.btn.btn-primary.btn-lg(type='button') 저장


    include ./includes/footer.pug