include ./includes/header.pug
link(rel='stylesheet', href='/css/bp-mobile.css')

body
  #bp-mobile-header.row.no-gutters
    .col-2.text-right.py-4.pr-3
      i.fa.fa-arrow-left.fa-2x
    .col-10.py-4
      h4.pt-1.mb-5.font-weight-light 예약하기
      h2.mb-5 레몬트리 스파펜션
  #bp-mobile-body
    .row.no-gutters
      .date-box.col.border-right.border-bottom
        small 체크인
        input.form-control-plaintext.form-control-lg.pt-0(type="text", value='금요일, 4월 7일')
      .date-box.col.border-bottom
        small 체크아웃
        input.form-control-plaintext.form-control-lg.pt-0(type="text", value='토요일, 4월 8일')
    .room-list
      .room(data-toggle='collapse', href='#room1')
        .room-name
          | 풀스파스위트룸
        .capacity 2인-6인
        .price
          | 200,000 원
      #room1.collapse
        .room-panel
          span.mr-4 투숙인원
          .age
            img(src='/assets/images/adult.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='2', min='1', max='99')
          .age
            img(src='/assets/images/child.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          .age
            img(src='/assets/images/baby.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          span.ml-4(data-toggle='collapse', href='#room1')
            i.fa.fa-times.fa-lg
      .room(data-toggle='collapse', href='#room2')
        .room-name
          | 너비아니
          small 10% 할인
        .capacity 2인-6인
        .price.sale
          | 180,000 원
          small.origin-price 200,000 원
      #room2.collapse.show
        .room-panel
          span.mr-4 투숙인원
          .age
            img(src='/assets/images/adult.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='2', min='1', max='99')
          .age
            img(src='/assets/images/child.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          .age
            img(src='/assets/images/baby.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          span.ml-4(data-toggle='collapse', href='#room2')
            i.fa.fa-times.fa-lg
      .room(data-toggle='collapse', href='#room3')
        .room-name
          | 아리조나 독채
        .capacity 4인-8인
        .price
          | 360,000 원
      #room3.collapse
        .room-panel
          span.mr-4 투숙인원
          .age
            img(src='/assets/images/adult.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='4', min='1', max='99')
          .age
            img(src='/assets/images/child.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          .age
            img(src='/assets/images/baby.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          span.ml-4(data-toggle='collapse', href='#room3')
            i.fa.fa-times.fa-lg
      .room(data-toggle='collapse', href='#room5')
        .room-name
          | 오스틴
        .capacity 4인-8인
        .price
          | 480,000 원
      #room5.collapse
        .room-panel
          span.mr-4 투숙인원
          .age
            img(src='/assets/images/adult.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='4', min='1', max='99')
          .age
            img(src='/assets/images/child.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          .age
            img(src='/assets/images/baby.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          span.ml-4(data-toggle='collapse', href='#room5')
            i.fa.fa-times.fa-lg
      .room(data-toggle='collapse', href='#room6')
        .room-name
          | 아스토리아
        .capacity 4인-8인
        .price
          | 480,000 원
      #room6.collapse
        .room-panel
          span.mr-4 투숙인원
          .age
            img(src='/assets/images/adult.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='4', min='1', max='99')
          .age
            img(src='/assets/images/child.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          .age
            img(src='/assets/images/baby.svg')
            input.form-control-plaintext.form-control-lg(type='number', value='0', min='0', max='99')
          span.ml-4(data-toggle='collapse', href='#room6')
            i.fa.fa-times.fa-lg
      .room.complete
        .room-name
          | 델라웨어
        .capacity 4인-8인
        .price
          | 판매완료
      .py-5

      .bottom-slider
        .price
          | 180,000 원
          small 1개 객실, 성인 2, 아동 2
        a.btn.btn-primary.px-3.py-3(href='/bp-mobile-book') 예약하기















