include ./includes/header.pug

//-------- 객실달력: Month View ---------//
body(name='calendar')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 객실 달력
      .text-center
        .calendar-controler
          .form-inline.justify-content-center
            .year-month 2018년 1월
            .btn-group.mx-3
              button.btn.btn-white.border-right-0(type='button')
                img(src='/assets/images/go-pre.svg')
              button.btn.btn-white.border-left-0(type='button')
                img(src='/assets/images/go-next.svg')
            button.btn.btn-white 오늘

      .row
        .col
          .status-model.d-flex.justify-content-start.mt-3
            .status-badge.available
            span.mr-3 예약가능
            .status-badge.waiting
            span.mr-3 입금대기
            .status-badge.complete
            span.mr-3 예약완료
            .status-badge.callonly
            span.mr-3 전화문의
            .status-badge.blocked
            span.mr-3 예약불가
        .col.text-right
          .btn-group
            a.btn.btn-white(href='/calendar', data-toggle='tooltip', title='달력으로 보기')
              img(src='/assets/images/view-calendar-on.svg', style='margin-top: -2px')
            a.btn.btn-white(href='/calendar-chart', data-toggle='tooltip', title='차트로 보기')
              img(src='/assets/images/view-chart-off.svg', style='margin-top: -2px')
          button.btn.btn-white.ml-3.dropdown(type='button', data-toggle='dropdown') 요금보기
          .dropdown-menu.dropdown-menu-right
            .px-4.pt-3
              label.custom-control.custom-checkbox
                input.custom-control-input(type='checkbox')
                span.custom-control-label 실시간예약창
              label.custom-control.custom-checkbox
                input.custom-control-input(type='checkbox')
                span.custom-control-label 티몬
              label.custom-control.custom-checkbox
                input.custom-control-input(type='checkbox')
                span.custom-control-label 야놀자
              label.custom-control.custom-checkbox
                input.custom-control-input(type='checkbox')
                span.custom-control-label 11번가

      .table-responsive.mt-3
        table.table-bordered.table-calendar
          thead
            tr
              th.text-red 일
              th 월
              th 화
              th 수
              th 목
              th 금
              th.text-blue 토
          tbody
            tr
              td.dimed.other-month
                .day-header
                  .date.text-red 12/31
                  .season 공휴일 전날
              td.past-day
                .day-header
                  .date.text-red 1
                  .season.text-red 새해
                .dropdown.room(data-toggle='dropdown')
                  .status-badge.available
                  .name A
                  .stock 1/6
                //- 객실이 여러개인 경우 메뉴 표시
                .dropdown-menu.calendar-dropdown.bordered-menu.p-0
                  a.dropdown-item(href='javascript: openPmsSlider("create");')
                    img.mr-2(src='/assets/images/add.svg', style='position: relative; top: -1px')
                    b.mt-2 예약생성
                  a.dropdown-item(href='javascript: openPmsSlider("edit");')
                    .d-flex.align-items-center
                      .status-badge.complete
                      span 정인혁 010-1111-7593
                      .channel (티몬)
                  a.dropdown-item(href='javascript: openPmsSlider("edit");')
                    .d-flex.align-items-center
                      .status-badge.waiting
                      span 박지연
                  a.dropdown-item
                    .d-flex.align-items-center
                      .status-badge.blocked
                      span 방막음(2개)
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.complete
                  .name S(복층스파)
                  .stock 2/2
              td.past-day
                .day-header
                  .date 2
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td.past-day
                .day-header
                  .date 3
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td.past-day
                .day-header
                  .date 4
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td.past-day
                .day-header
                  .date 5
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td.past-day
                .day-header
                  .date.text-blue 6
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
            tr
              td.past-day
                .day-header
                  .date.text-red 7
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td.past-day
                .day-header
                  .date 8
                  .season.text-red 성수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td.today
                .day-header
                  .date 9
                  .season.text-red 성수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 10
                  .season.text-red 성수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .price
                  .channel 실시간
                  .value
                    del.small.text-muted.d-block 120,000
                    | 100,000
                .price
                  .channel 티몬
                  .value
                    | 120,000
                .price
                  .channel 11번가
                  .value
                    | 120,000
                .price
                  .channel 야놀자
                  .value
                    del.small.text-muted.d-block 120,000
                    | 100,000
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .price
                  .channel 실시간
                  .value
                    | 120,000
                .price
                  .channel 티몬
                  .value
                    | 120,000
                .price
                  .channel 11번가
                  .value
                    | 120,000
                .price
                  .channel 야놀자
                  .value
                    | 120,000
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
                .price
                  .channel 실시간
                  .value
                    | 120,000
                .price
                  .channel 티몬
                  .value
                    | 120,000
                .price
                  .channel 11번가
                  .value
                    | 120,000
                .price
                  .channel 야놀자
                  .value
                    | 120,000
              td
                .day-header
                  .date 11
                  .season.text-red 성수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 12
                  .season.text-red 성수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date.text-blue 13
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
            tr
              td
                .day-header
                  .date.text-red 14
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 15
                  .season.text-warning 준성수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 16
                  .season.text-warning 준성수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 17
                  .season.text-warning 준성수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name 룸타입 이름이 아주긴경우
                  .stock 4/5
                .room
                  .status-badge.complete
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 18
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 19
                  .season.text-green 업주시즌명A
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date.text-blue 20
                  .season.text-green 업주시즌명B
                .room
                  .status-badge.callonly
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.callonly
                  .name S(복층스파)
                  .stock 2/2
            tr
              td
                .day-header
                  .date.text-red 21
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 22
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 23
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 24
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 25
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 26
                  .season.text-muted 비수기
                .room
                  .status-badge.complete
                  .name A
                  .stock 1/6
                .room
                  .status-badge.complete
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.blocked
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date.text-blue 27
                  .season.text-muted 비수기
                .room
                  .status-badge.waiting
                  .name A
                  .stock 1/6
                .room
                  .status-badge.waiting
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.blocked
                  .name S(복층스파)
                  .stock 2/2
            tr
              td
                .day-header
                  .date.text-red 28
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 29
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 30
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td
                .day-header
                  .date 31
                  .season.text-muted 비수기
                .room
                  .status-badge.available
                  .name A
                  .stock 1/6
                .room
                  .status-badge.available
                  .name B(테라스)
                  .stock 4/5
                .room
                  .status-badge.available
                  .name S(복층스파)
                  .stock 2/2
              td.dimed.other-month
                .day-header
                  .date 2/1
                  .season.text-muted 비수기
              td.dimed.other-month
                .day-header
                  .date 2
                  .season.text-muted 비수기
              td.dimed.other-month
                .day-header
                  .date.text-blue 3
                  .season.text-muted 비수기

    include ./includes/footer.pug

//- 예약창 슬라이드
include ./includes/pms-slider.pug

