include ./includes/header.pug

//-------- 객실달력: Week View ---------//
body(name='calendar')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .row
        .col-lg.calendar-controler
          .form-inline
            .year-month 2018년 1월
            .btn-group.mx-3
              button.btn.btn-light(type='button')
                i.fa.fa-angle-left.fa-lg
              button.btn.btn-light(type='button')
                i.fa.fa-angle-right.fa-lg
            a.btn.btn-light.mr-2(href='/calendar')
              | month
            a.btn.btn-light.active(href='/calendar-week')
              | week

        .col-lg.status-model.d-flex.justify-content-end
          .status-badge.available
          | 예약가능
          .status-badge.waiting
          | 예약대기
          .status-badge.complete
          | 예약완료
          .status-badge.callonly
          | 전화문의
          .status-badge.blocked
          | 예약불가

      .table-responsive.mt-3
        table.table-bordered.table-calendar.table-calendar-week
          thead
            tr
              th
              th.text-red
                .day 일
                .header
                  .date 14
                  .season 비수기
              th
                .day 월
                .header
                  .date 15
                  .season 비수기
              th.today
                .day 화
                .header
                  .date 16
                  .season 비수기
              th
                .day 수
                .header
                  .date 17
                  .season 비수기
              th
                .day 목
                .header
                  .date 18
                  .season 비수기
              th
                .day 금
                .header
                  .date 19
                  .season 비수기
              th.text-blue
                .day 토
                .header
                  .date 20
                  .season 비수기
          tbody
            tr
              th A
              td
                .status-badge.complete
                .status-badge.complete
                .status-badge.complete
                .status-badge.complete
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.complete
                .status-badge.complete
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.blocked
                .status-badge.blocked
                .status-badge.blocked
                .status-badge.blocked
                .status-badge.blocked
            tr
              th B(테라스)
              td
                .status-badge.complete
                .status-badge.complete
                .status-badge.complete
                .status-badge.complete
                .status-badge.complete
                .status-badge.complete
                .status-badge.available
                .status-badge.complete
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.complete
                .status-badge.complete
                .status-badge.complete
                .status-badge.waiting
                .status-badge.waiting
                .status-badge.waiting
                .status-badge.waiting
                .status-badge.waiting
              td
                .status-badge.complete
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.complete
                .status-badge.complete
                .status-badge.available
            tr
              th C(스파)
              td
                .status-badge.waiting
                .status-badge.complete
                .status-badge.complete
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.available
                .status-badge.available
                .status-badge.available
                .status-badge.available
              td
                .status-badge.callonly
                .status-badge.callonly
                .status-badge.callonly
                .status-badge.callonly
              td
                .status-badge.available
                .status-badge.complete
                .status-badge.complete
                .status-badge.available

    include ./includes/footer.pug





