include ./includes/header.pug

//-------- 할인요금 page ---------//
body(name='price-chart')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard(style='min-width: 1100px')
      .board-title 할인요금
      .calendar-controler.d-flex.justify-content-center.mb-4.mt-5
        .form-inline
          .year-month 2017.12.30(월) ~ 2018.1.12(수)
          .btn-group.ml-3.mr-2
            button.btn.btn-white.border-right-0(type='button')
              img(src='/assets/images/go-pre.svg')
            button.btn.btn-white.border-left-0(type='button')
              img(src='/assets/images/go-next.svg')
          button.btn.btn-white 시작일 변경
      .d-flex.mb-3
        select.custom-select.mr-2(style='width: 13rem')
          option(selected, disabled) 객실선택
          option 전체
          option 해
          option 달
          option 별
        select.custom-select(style='width: 13rem')
          option(selected, disabled) 채널선택
          option 전체
          option 실시간 예약창
          option 네이버
          option 티몬
          option 에어비앤비
          option 아고다
        button.btn.btn-white.ml-auto(type='button', data-toggle='modal', data-target='#selectedEditModal')
          img.mr-2(src='/assets/images/ic-check.svg')
          | 선택날짜 일괄할인
        button.btn.btn-white.ml-1(type='button', data-toggle='modal', data-target='#periodEditModal')
          img.mr-2(src='/assets/images/ic-calendar-gray.svg')
          | 기간지정 일괄할인

      .chart-row.header
        .row-title
        .dd-wrapper
          .dd.text-blue
            .day 토
            .date 30
            .remark 비수기
          .dd.text-red
            .day 일
            .date 12/31
            .remark 비수기
          .dd.text-red(data-toggle='tooltip', title='비수기')
            .day 월
            .date 1/1
            .remark.holiday 새해
          .dd
            .day 화
            .date 2
            .remark 비수기
          .dd.today
            .day 수
            .date 3
            .remark 비수기
          .dd
            .day 목
            .date 4
            .remark 비수기
          .dd.active
            .day 금
            .date 5
            .remark 비수기
          .dd.text-blue.active
            .day 토
            .date 6
            .remark 준성수기
          .dd.text-red.active
            .day 일
            .date 7
            .remark 준성수기
          .dd
            .day 월
            .date 8
            .remark 준성수기
          .dd
            .day 화
            .date 9
            .remark 성수기
          .dd
            .day 수
            .date 10
            .remark 성수기
          .dd
            .day 목
            .date 11
            .remark 성수기
          .dd
            .day 금
            .date 12
            .remark 성수기
      .chart-row.room-stock
        .row-title 해
        .dd-wrapper
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 예약불가
          .dd 예약불가
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능

      .chart-row.basic-price
        .row-title 기본요금
        .dd-wrapper
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
      .chart-row
        .row-title 실시간 예약창
        .dd-wrapper
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            .discount 30%
            input.form-control(type='text', value='70,000')
          .dd
            .discount 10%
            input.form-control(type='text', value='90,000')
          .dd
            .discount 15%
            input.form-control(type='text', value='85,000')
          .dd
            input.form-control.dirty(type='text', value='130,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000', disabled)
          .dd
            input.form-control(type='text', value='100,000', disabled)
      .chart-row
        .row-title 온라인 판매대행
        .dd-wrapper
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control.dirty(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000', disabled)
          .dd
            input.form-control(type='text', value='100,000', disabled)
      .chart-row
        .row-title
          img.pb-2.pr-2(src='/assets/images/tree.svg')
          | 자동할인
        .dd-wrapper
          .dd.applied
            .discount 70%
            input.form-control-plaintext(type='text', value='21,000', readonly)
          .dd.applied
            .discount 50%
            input.form-control-plaintext(type='text', value='35,000', readonly)
          .dd.applied
            .discount 30%
            input.form-control-plaintext(type='text', value='49,000', readonly)
          .dd
          .dd
          .dd
          .dd
          .dd
          .dd
          .dd
          .dd
          .dd
          .dd
          .dd
      .chart-row.room-stock
        .row-title 달
        .dd-wrapper
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 예약불가
          .dd 예약불가
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
          .dd 가능
      .chart-row.basic-price
        .row-title 기본요금
        .dd-wrapper
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
          .dd
            .basic-price 100,000
      .chart-row
        .row-title 실시간 예약창
        .dd-wrapper
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            .discount 30%
            input.form-control(type='text', value='70,000')
          .dd
            .discount 10%
            input.form-control(type='text', value='90,000')
          .dd
            .discount 15%
            input.form-control(type='text', value='85,000')
          .dd
            input.form-control.dirty(type='text', value='130,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000', disabled)
          .dd
            input.form-control(type='text', value='100,000', disabled)
      .chart-row
        .row-title 네이버
        .dd-wrapper
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control.dirty(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000', disabled)
          .dd
            input.form-control(type='text', value='100,000', disabled)
      .chart-row
        .row-title 티몬
        .dd-wrapper
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000', disabled)
          .dd
            input.form-control(type='text', value='100,000', disabled)
      .chart-row
        .row-title 에어비앤비
        .dd-wrapper
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000', disabled)
          .dd
            input.form-control(type='text', value='100,000', disabled)
      .chart-row
        .row-title 아고다
        .dd-wrapper
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000')
          .dd
            input.form-control(type='text', value='100,000', disabled)
          .dd
            input.form-control(type='text', value='100,000', disabled)

    include ./includes/footer.pug

//- 선택날짜 일괄할인 Modal
#selectedEditModal.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title 선택날짜 일괄할인
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-2 선택날짜
          .col-sm-10
            | 3월 - 18일, 19월, 20화, 21수, 22목
            br
            | 4월 - 2월 3화, 4수
        .form-group.row
          label.col-sm-2.pt-1 할인률
          .col-sm-10
            .form-inline.mb-3
              span.mr-2 기준요금 기준
              input.form-control.text-center.mr-1(type='number', style='width: 8rem')
              select.custom-select.mr-2
                option %
                option 원
              span 할인
        .form-group.row
          label.col-sm-2 객실 선택
          .col-sm-10
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox', checked)
              span.custom-control-label 전체 객실
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 해
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 달
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 별
        .form-group.row
          label.col-sm-2 채널 선택
          .col-sm-10
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox', checked)
              span.custom-control-label 전체 채널
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 실시간 예약창
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 네이버
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 에어비앤비
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 저장

//- 기간지정 일괄할인 Modal
#periodEditModal.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title 기간지정 일괄할인
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-2.pt-1 기간 선택
          .col-sm-10
            .form-inline
              input.form-control.form-control-datepicker(type='text', value='2017.07.16(수)', size='18')
              span.px-2 ~
              input.form-control.form-control-datepicker.mr-2(type='text', value='2017.08.20(목)', size='18')
            .form-inline.mt-3
              .btn-group.btn-group-toggle.d-flex.align-items-center.mr-3(data-toggle='buttons')
                label.btn.btn-white.active
                  input(type='checkbox', autocomplete='off', checked)
                  | 월
                label.btn.btn-white.active
                  input(type='checkbox', autocomplete='off', checked)
                  | 화
                label.btn.btn-white
                  input(type='checkbox', autocomplete='off')
                  | 수
                label.btn.btn-white
                  input(type='checkbox', autocomplete='off')
                  | 목
                label.btn.btn-white
                  input(type='checkbox', autocomplete='off')
                  | 금
                label.btn.btn-white
                  input(type='checkbox', autocomplete='off')
                  | 토
                label.btn.btn-white
                  input(type='checkbox', autocomplete='off')
                  | 일
              button.btn.btn-white.btn-sm.border-0(type='button')
                u 전체
              button.btn.btn-white.btn-sm.border-0(type='button')
                u 일~목
              button.btn.btn-white.btn-sm.border-0(type='button')
                u 금~토
        .form-group.row
          label.col-sm-2.pt-1 할인률
          .col-sm-10
            .form-inline.mb-3
              span.mr-2 기준요금 기준
              input.form-control.text-center.mr-1(type='number', style='width: 8rem')
              select.custom-select.mr-2
                option %
                option 원
              span 할인
        .form-group.row
          label.col-sm-2 객실 선택
          .col-sm-10
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox', checked)
              span.custom-control-label 전체 객실
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 해
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 달
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 별
        .form-group.row
          label.col-sm-2 채널 선택
          .col-sm-10
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox', checked)
              span.custom-control-label 전체 채널
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 실시간 예약창
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 네이버
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox')
              span.custom-control-label 에어비앤비
        .text-center.pt-5
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 저장

//- Slider
.slider-ui.slider-ui-white.text-center.hidden
  .row.pt-2
    .offset-1.col-11
      button.btn.btn-secondary.btn-lg.mr-1(type='button', onclick='closeSlider()') 취소
      button.btn.btn-primary.btn-lg(type='button', onclick='closeSlider()') 저장