include ./includes/header.pug

body
  .container.pt-4
    .d-flex.align-items-center.py-2
      h4.mr-4 주별보기
      h4.month 2018년 4월
      .ml-2
        button.btn.btn-light.btn-sm
          i.fa.fa-angle-left.fa-lg
        button.btn.btn-light.btn-sm
          i.fa.fa-angle-right.fa-lg

    table.table.table-bordered.table-chart
      thead
        tr
          th
          th
            .day 일
            .date 1
          th
            .day 월
            .date 2
          th
            .day 화
            .date 3
          th
            .day 수
            .date 4
          th
            .day 목
            .date 5
          th
            .day 금
            .date 6
          th
            .day 토
            .date 7
      tbody
        tr
          th.roomtype 맨하탄
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-danger.btn-sm(type='button') 완
          td
            button.btn.btn-info.btn-sm(type='button') 대
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
        tr
          th.roomtype 아스토리아
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
        tr
          th.roomtype 부르클린
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가
            button.btn.btn-success.btn-sm(type='button') 가

        tr
          th.roomtype 브롱스
          td
            button.btn.btn-danger.btn-sm(type='button') 완
          td
            button.btn.btn-danger.btn-sm(type='button') 완
          td
            button.btn.btn-danger.btn-sm(type='button') 완
          td
            button.btn.btn-danger.btn-sm(type='button') 완
          td
            button.btn.btn-danger.btn-sm(type='button') 완
          td
            button.btn.btn-danger.btn-sm(type='button') 완
          td
            button.btn.btn-danger.btn-sm(type='button') 완
        tr
          th.roomtype 스태이튼 아일랜드
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가
          td
            button.btn.btn-success.btn-sm(type='button') 가

    .py-5

    .d-flex.align-items-center.py-2
      h4.mr-4 월별보기
      h4.month 2018년 4월
      .ml-2
        button.btn.btn-light.btn-sm
          i.fa.fa-angle-left.fa-lg
        button.btn.btn-light.btn-sm
          i.fa.fa-angle-right.fa-lg

    table.table.table-bordered.table-chart-month
      tbody
        tr
          td
            .day 일
            .date 4월 1일
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .day 월
            .date 2
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .day 화
            .date 3
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .day 수
            .date 4
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .day 목
            .date 5
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .day 금
            .date 6
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .day 토
            .date 7
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
        tr
          td
            .date 8
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 9
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 10
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 11
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 12
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 13
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 14
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
        tr
          td
            .date 15
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 16
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 17
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 18
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 19
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 20
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 21
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
        tr
          td
            .date 22
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 23
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 24
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 25
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 26
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 27
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 28
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
        tr
          td
            .date 29
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 30
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 31
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 5월 1일
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 2
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 3
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가
          td
            .date 4
            .roomtype
              .title 맨하탄
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 아스토리아
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 부르클린
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
              button.btn.btn-success.btn-sm(type='button') 가
            .roomtype
              .title 브롱스
              button.btn.btn-danger.btn-sm(type='button') 완
            .roomtype
              .title 스테이튼 아일랜드
              button.btn.btn-success.btn-sm(type='button') 가


    .py-5