include ./includes/header.pug

//-------- 대쉬보드 Page ---------//
body
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard.transparent(style='min-width: 1000px')
      .d-flex(style='position: relative')
        .dashboard-unit.dashboard-summary(style='flex: 1 1 auto')
          .date
            .head Today
            .text 2018.3.20(화)
          .big-numbers
            .unit
              .number 17
              .text 입금대기
            .unit
              .number 3
              .text 예약완료
            .unit
              .number.zero 0
              .text 예약취소
            .unit
              .number 1
              .text 미입금취소

        .dashboard-unit.dashboard-weather(style='flex: 0 0 20rem')
          h6 제주도 제주시
          .weather-wrapper
            .weather-day
              .degree
                span.number 17
                span.marker °
              .weather
                span.text 맑음
                img(src='/assets/images/weather-01.svg')
              .date 3월 20일 화요일

        .dashboard-unit.dashboard-weather.dashboard-weather-expend
          h6 제주도 제주시
          .weather-wrapper
            .weather-day
              .degree
                span.number 17
                span.marker °
              .weather
                span.text 맑음
                img(src='/assets/images/weather-01.svg')
              .date 3월 20일 화요일
            .weather-day
              .degree
                span.number -9
                span.marker °
              .weather
                span.text 눈
                img(src='/assets/images/weather-01.svg')
              .date 3월 21일 수요일
            .weather-day
              .degree
                span.number -4
                span.marker °
              .weather
                span.text 맑음
                img(src='/assets/images/weather-01.svg')
              .date 3월 22일 목요일
            .weather-day
              .degree
                span.number 12
                span.marker °
              .weather
                span.text 흐림
                img(src='/assets/images/weather-01.svg')
              .date 3월 23일 금요일
            .weather-day
              .degree
                span.number 20
                span.marker °
              .weather
                span.text 맑음
                img(src='/assets/images/weather-01.svg')
              .date 3월 24일 토요일
            .weather-day
              .degree
                span.number 16
                span.marker °
              .weather
                span.text 맑음
                img(src='/assets/images/weather-01.svg')
              .date 3월 25일 일요일
            .weather-day
              .degree
                span.number -3
                span.marker °
              .weather
                span.text 비
                img(src='/assets/images/weather-01.svg')
              .date 3월 26일 월요일

      .row
        .col-xl-5
          .row
            .col-6.col-xl-12
              .dashboard-unit(style='min-height: 37rem')
                .title 오늘 입실
                table.table.table-hover.text-center.align-middle.mb-0
                  thead.bg-light
                    tr
                      th 도착예정시간
                      th 객실명
                      th 예약자
                      th 손님맞이 준비
                  tbody
                    //- tr
                      td.empty(colspan='4') 오늘 입실이 없습니다.
                    tr(onclick='openPmsSlider("edit")')
                      td 15:20
                      td
                        | 하늘채 사랑방
                        .small.text-muted 성인2, 아동0, 유아1
                      td
                        | 정우성
                        br
                        | 010-5503-9903
                      td
                        | 픽업, 바베큐, 조식
                    tr(onclick='openPmsSlider("edit")')
                      td --:--
                      td
                        | 하늘채 사랑방
                        .small.text-muted 성인2, 아동0, 유아1
                      td
                        | 정우성
                        br
                        | 010-5503-9903
                      td
                        | 픽업, 바베큐, 조식
                    tr(onclick='openPmsSlider("edit")')
                      td --:--
                      td
                        | 하늘채 사랑방
                        .small.text-muted 성인2, 아동0, 유아1
                      td
                        | 정우성
                        br
                        | 010-5503-9903
                      td
                    tr(onclick='openPmsSlider("edit")')
                      td 15:20
                      td
                        | 하늘채 사랑방
                        .small.text-muted 성인2, 아동0, 유아1
                      td
                        | 정우성
                        br
                        | 010-5503-9903
                      td
                    tr(onclick='openPmsSlider("edit")')
                      td --:--
                      td
                        | 하늘채 사랑방
                        .small.text-muted 성인2, 아동0, 유아1
                      td
                        | 정우성
                        br
                        | 010-5503-9903
                      td
            .col-6.col-xl-12
              .dashboard-unit(style='min-height: 29rem')
                .title 오늘 퇴실
                table.table.table-hover.text-center.align-middle.mb-0
                  thead.bg-light
                    tr
                      th 퇴실예정시간
                      th 객실명
                      th 예약자
                      th 퇴실 체크
                  tbody
                    //- tr
                      td.empty(colspan='4') 오늘 퇴실이 없습니다.
                    tr(onclick='openPmsSlider("edit")')
                      td 15:20
                      td
                        | 하늘채 사랑방
                        .small.text-muted 성인2, 아동0, 유아1
                      td
                        | 정우성
                        br
                        | 010-5503-9903
                      td.checkbox
                        label.custom-control.custom-checkbox
                          input.custom-control-input(type='checkbox')
                          span.custom-control-label
                    tr(onclick='openPmsSlider("edit")')
                      td 15:20
                      td
                        | 하늘채 사랑방
                        .small.text-muted 성인2, 아동0, 유아1
                      td
                        | 정우성
                        br
                        | 010-5503-9903
                      td.checkbox
                        label.custom-control.custom-checkbox
                          input.custom-control-input(type='checkbox', checked)
                          span.custom-control-label
                    tr(onclick='openPmsSlider("edit")')
                      td 15:20
                      td
                        | 하늘채 사랑방
                        .small.text-muted 성인2, 아동0, 유아1
                      td
                        | 정우성
                        br
                        | 010-5503-9903
                      td.checkbox
                        label.custom-control.custom-checkbox
                          input.custom-control-input(type='checkbox', checked)
                          span.custom-control-label

        .col-xl-7
          .dashboard-unit.dashboard-occupancy(style='min-height: 37rem')
            .title 월별 객실 가동률
            .header
              .year-month 2018년 1월
              .btn-group.mx-3
                button.btn.btn-white.border-right-0.py-1.px-2(type='button')
                  i.fa.fa-angle-left.text-dark
                button.btn.btn-white.border-left-0.py-1.px-2(type='button')
                  i.fa.fa-angle-right.text-dark
              .text.ml-auto
                span 공실
                span.big 70%
              a.btn.btn-outline-primary.mr-2(href='/chart') 할인설정
              a.btn.btn-outline-primary(href='/setting/auto-edit') 자동할인설정
            img.w-100(src='/assets/images/temp-graph.png')

          .d-flex.align-items-stretch(style='min-height: 29rem')
            div(style='flex: 1 1 auto')
              .dashboard-unit
                .title.d-flex.justify-content-between.mb-0
                  | 공지사항
                  a(href='/notice')
                    img(src='/assets/images/plus-box-gray.svg')
                ul.link-list.list-unstyled.m-0
                  li.row.no-gutters(onclick='location.href="/notice-view"')
                    .col-8
                      img.mr-2(src='/assets/images/bell.svg')
                      | [온다 APP] ‘자동예약수집’ 기능 업데이트 안내
                    .col-4.text-right
                      | 2018.03.05(월)
                  li.row.no-gutters(onclick='location.href="/notice-view"')
                    .col-8
                      | 서버 이전 작업 안내
                    .col-4.text-right
                      | 2018.03.05(월)
              .dashboard-unit
                .title
                  | App
                  span 쉽고 편한 예약관리 앱, ONDA 펜션관리!
                .row.no-gutters
                  .col.mr-1
                    a.btn.btn-primary.btn-block.p-3(href='https://play.google.com/store/apps/details?id=io.tport.pensionpms', target='_blank')
                      img(src='/assets/images/google-play.png')
                  .col
                    a.btn.btn-primary.btn-block.p-3(href='#', target='_blank')
                      img(src='/assets/images/app-store.png')

            div(style='flex: 0 0 20rem; margin-left: 2.5rem; padding-bottom: 2.5rem')
              .dashboard-unit(style='height: 100%')
                .title 메뉴얼
                ul.link-list.list-unstyled.m-0
                  li 사장님 페이지 사용법
                  li 가격/할인 설정
                  li 수기예약, 방막기, 정산확인
                  li 온다앱 이용메뉴얼
                  li 기타문의 &amp; 수정요청
      .dashboard-unit
        .title 판매사 연동
        .row
          .col-md-3
            | ONDA와 제휴 된 다양한 판매사에 상품을 판매해보세요.
            .mt-2
              a.btn.btn-white(href='#') 판매사 연동 신청하기
          .col-md-9
            ul.list-unstyled.logo-list.row.no-gutters
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-01.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-02.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-03.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-04.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-05.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-06.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-07.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-08.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-09.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-10.png')
              li.col-lg-2.col-sm-4
                img(src='/assets/images/bi/bi-11.png')


    include ./includes/footer.pug

//- 공지사항 Modal
#noticeModal.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title 서버 이전 작업 안내
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        p(style='white-space: pre-wrap').
          안녕하세요.^^ ONDA 운영담당자 입니다.

          다양한 판매채널을 확장하면서 좀 더 안정적인서버를 사용하기 위해 서버이전작업 진행 예정중입니다.
          진행일시: 2017년 11월 8일 AM 03:00 ~ AM 05:00

          서버작업이 진행되면 판매되고 있는 예약과 취소가 잠시 중단되게 됩니다.
          하여 예약률이 낮은 새벽시간대 작업을 진행 할 예정입니다.
          불편을 드려 죄송합니다.
          더나은 서비스와 더 많은 예약 보내드리기 위해 노력하는 ONDA가 되겠습니다.
          감사합니다.
        .modal-tail.bg-light
          label.custom-control.custom-checkbox
            input.custom-control-input(type='checkbox')
            span.custom-control-label.text-muted
              small(style='position: relative; top: -1px') 더이상 보지 않기

//- 예약창 슬라이드
include ./includes/pms-slider.pug

script.
  $('#noticeModal').modal();