<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Penppy2

    //- scripts
    script(src='/node_modules/jquery/dist/jquery.min.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')

    //- styles
    link(rel='stylesheet', href='/css/custom.css')
    link(rel='stylesheet', href='/css/penppy2.css')

  body
    .bg-primary.p-5
      .display-4.text-white 펜피2
    .p-5
      h1 Font Size
      p(style='font-size: 15px') 15px 모두 입금대기 예약완료 예약취소
      p(style='font-size: 14px') 14px 모두 입금대기 예약완료 예약취소
      p(style='font-size: 13px') 13px 모두 입금대기 예약완료 예약취소
      p(style='font-size: 11px') 11px 모두 입금대기 예약완료 예약취소
      p(style='font-size: 12px') 12px 모두 입금대기 예약완료 예약취소
      p(style='font-size: 11px') 11px 모두 입금대기 예약완료 예약취소
      p(style='font-size: 10px') 10px 모두 입금대기 예약완료 예약취소
    .p-5
      h1 Font Weight
      p(style='font-weight: 100') 100 Thin 모두 입금대기 예약완료 예약취소
      p(style='font-weight: 200') 200 Thin 모두 입금대기 예약완료 예약취소
      p(style='font-weight: 300') 300 Light 모두 입금대기 예약완료 예약취소
      p(style='font-weight: 400') 400 Regular 모두 입금대기 예약완료 예약취소
      p(style='font-weight: 500') 500 Regular 모두 입금대기 예약완료 예약취소
      p(style='font-weight: 600') 600 Bold 모두 입금대기 예약완료 예약취소
      p(style='font-weight: 700') 700 Bold 모두 입금대기 예약완료 예약취소