include ./includes/header.pug

//-------- Login Page ---------//
body
  .login
    .d-flex.justify-content-between
      img(src='/assets/images/O.svg')
      img(src='/assets/images/N.svg')

    .row
      .col-sm-6.col-lg-5.col-xl-4.mx-auto
        .text-center
          img(src='/assets/images/bi-onda-white.svg')
        .login-box
          h4.text-center.mb-4
            b.mr-2 펜션
            | 파트너 로그인
          input.form-control.mb-2(type='text', placeholder='이메일 주소')
          input.form-control.mb-2(type='text', placeholder='비밀번호')
          button.btn.btn-primary.btn-lg.btn-block.btn-login(type='button', data-toggle='modal', data-target='#selectPropertyModal') 로그인
          .d-flex.justify-content-between.mt-3
            label.custom-control.custom-checkbox
              input.custom-control-input(type='checkbox', checked)
              span.custom-control-label.text-muted
                small(style='position: relative; top: -1px') 아이디 저장
            div
              a.mt-1.text-muted.small(href='#', data-toggle='modal', data-target='#findIdModal') 아이디
              a.mt-1.text-muted.small(href='#', data-toggle='modal', data-target='#findPwModal') /비밀번호 찾기

    .d-flex.justify-content-between
      img(src='/assets/images/D.svg')
      img(src='/assets/images/A.svg')

//- 회원정보 업데이트 안내 Modal
#updateModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 회원정보 업데이트 안내
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        p.text-center.mb-5
          | ONDA가 파트너님의 회원정보를 안전하게 보호하기 위해
          br
          | 로그인 정보를 다시한번 확인합니다.
          br
          | 이메일 아이디와 비밀번호 입력 후 회원정보를 업데이트해주세요.
        .form-group.row
          label.label-necessary.col-sm-3.pt-1 이메일 아이디
          .col-sm-9
            input.form-control(type='text')
        .form-group.row
          label.label-necessary.col-sm-3.pt-1 비밀번호
          .col-sm-9
            input.form-control(type='password')
        .form-group.row
          label.label-necessary.col-sm-3.pt-1 비밀번호 확인
          .col-sm-9
            input.form-control(type='password')
        .form-group.row
          label.label-necessary.col-sm-3.pt-1 이름
          .col-sm-9
            input.form-control(type='text')
        .form-group.row
          label.label-necessary.col-sm-3.pt-1 연락처
          .col-sm-9
            .form-row
              .col-5
                select.custom-select
                  option (+82) 대한민국
              .col-7
                input.form-control(type='text', value='010-1205-5300')
        .text-center.py-3
          button.btn.btn-secondary.btn-lg.mr-1(type='button', data-dismiss='modal') 다음에
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') 확인

//- 아이디찾기 Modal
#findIdModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 아이디 찾기
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-2.pt-1 이름
          .col-sm-10
            input.form-control(type='text')
        .form-group.row
          label.col-sm-2.pt-1 전화번호
          .col-sm-10
            input.form-control(type='text')
        .text-center.py-3
          -
            var message01 = `
              swal({
                title: "아이디를 찾았습니다.",
                text: "damon.cho@onda.me",
                confirmButtonText: "확인",
              });
            `
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal', onclick= message01) 확인

//- 비밀번호 찾기 Modal
#findPwModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 비밀번호 찾기
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        .form-group.row
          label.col-sm-3.pt-1 이메일 주소
          .col-sm-9
            input.form-control(type='text')
        .text-center.py-3
          -
            var message02 = `
              swal({
                title: "비밀번호 재설정 링크가<br>이메일과 핸드폰 문자로 전송되었습니다.",
                confirmButtonText: "확인",
                showCancelButton: true,
                cancelButtonText: '재전송'
              });
            `
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal', onclick= message02) 비밀번호 재설정 링크전송

//- 숙소선택 Modal
#selectPropertyModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        h5.modal-title 숙소 선택
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body.search-select-modal
        .search
          .input-group
            input.form-control(type="text", placeholder='숙소명을 입력하세요.', style='width: 22rem')
            .input-group-append
              button.btn.btn-primary.py-0.px-2(type='button')
                img(src='/assets/images/search_white.svg', style='margin-top: -.2rem')
        ul.list-unstyled
          li 전주 부경당 펜션
          li 뷰펜션
          li 강릉 쉼이 있는 집
          li 전주 부경당 펜션
          li 뷰펜션
          li 강릉 쉼이 있는 집
          li 전주 부경당 펜션
          li 뷰펜션
          li 강릉 쉼이 있는 집
          li 전주 부경당 펜션
          li 뷰펜션
          li 강릉 쉼이 있는 집
          li 전주 부경당 펜션
          li 뷰펜션
          li 강릉 쉼이 있는 집
          li 전주 부경당 펜션
          li 뷰펜션


//- 숙소이용약관 Modal
#agreementModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5.modal-title 펜션 PMS 이용약관
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body.agreement-modal(style='max-height: 80vh; overflow: scroll')
        h6
          | 상품판매동의
          small (필수)
        textarea.form-control.bg-light.mb-3(rows='14').
          제 1 조 목적
          이 약관은 (주)티포트 (이하 "회사"라고 한다)와 예약 및 판매 대행 서비스를 제공받는 숙박업주 (이하 "업체"라고 한다) 사이에 체결된 숙박 상품 판매에 대한
          권리와 의무의 규정함을 목적으로 한다.

          제 2 조 권리 및 의무
          1."회사"의 의무
          ① "회사"는 예약 및 판매가 가능하도록 시스템을 구축하고, 원활한 판매가 가능하도록 판매 채널 확보에 힘써야한다.
          ② "회사"는 "회사"의 연동판매채널을 통해 "업체"의 상품 판매를 대행하며 이와 관련된 고객의 문의에 대해 "업체"와 공동으로 응대한다.
          2. "업체"의 업무
          ① "업체"는 "회사"의 시스템에 등록되어 있는 정보와 현장의 정보를 동일하게 제공해야 하며, 현장의 상황이 변경되었을 경우 즉시 정보를 변경하여야 한다.
          (객실금액/사진/부대시설내용 등)
          ② "업체"는 재고 관리를 철저히 해야하며, "회사" 시스템의 재고 수와 동일하게 관리하는 등 중복에 대한 방지를 위해 노력하여야 하며, 중복예약 발생시 해결을
          위한 노력을 해야한다.
          ③ "업체"는 불가피한 사항으로 예약현황을 관리할 수 없을 경우 최소 15일전에 관리시스템에서의 상품판매 중지 또는 “회사”에 판매중지 통보를 하여야 하며,
        label.custom-control.custom-checkbox
          input.custom-control-input(type='checkbox', checked)
          span.custom-control-label 상품판매 약관에 동의합니다.
        h6.mt-5
          | 가나다라 동의
          small (필수)
        textarea.form-control.bg-light.mb-3(rows='14').
          제 1 조 목적
          이 약관은 (주)티포트 (이하 "회사"라고 한다)와 예약 및 판매 대행 서비스를 제공받는 숙박업주 (이하 "업체"라고 한다) 사이에 체결된 숙박 상품 판매에 대한
          권리와 의무의 규정함을 목적으로 한다.

          제 2 조 권리 및 의무
          1."회사"의 의무
          ① "회사"는 예약 및 판매가 가능하도록 시스템을 구축하고, 원활한 판매가 가능하도록 판매 채널 확보에 힘써야한다.
          ② "회사"는 "회사"의 연동판매채널을 통해 "업체"의 상품 판매를 대행하며 이와 관련된 고객의 문의에 대해 "업체"와 공동으로 응대한다.
          2. "업체"의 업무
          ① "업체"는 "회사"의 시스템에 등록되어 있는 정보와 현장의 정보를 동일하게 제공해야 하며, 현장의 상황이 변경되었을 경우 즉시 정보를 변경하여야 한다.
          (객실금액/사진/부대시설내용 등)
          ② "업체"는 재고 관리를 철저히 해야하며, "회사" 시스템의 재고 수와 동일하게 관리하는 등 중복에 대한 방지를 위해 노력하여야 하며, 중복예약 발생시 해결을
          위한 노력을 해야한다.
          ③ "업체"는 불가피한 사항으로 예약현황을 관리할 수 없을 경우 최소 15일전에 관리시스템에서의 상품판매 중지 또는 “회사”에 판매중지 통보를 하여야 하며,
        label.custom-control.custom-checkbox
          input.custom-control-input(type='checkbox', checked)
          span.custom-control-label 상품판매 약관에 동의합니다.
        h6.mt-5
          | 가나다라 동의
          small (필수)
        textarea.form-control.bg-light.mb-3(rows='14').
          제 1 조 목적
          이 약관은 (주)티포트 (이하 "회사"라고 한다)와 예약 및 판매 대행 서비스를 제공받는 숙박업주 (이하 "업체"라고 한다) 사이에 체결된 숙박 상품 판매에 대한
          권리와 의무의 규정함을 목적으로 한다.

          제 2 조 권리 및 의무
          1."회사"의 의무
          ① "회사"는 예약 및 판매가 가능하도록 시스템을 구축하고, 원활한 판매가 가능하도록 판매 채널 확보에 힘써야한다.
          ② "회사"는 "회사"의 연동판매채널을 통해 "업체"의 상품 판매를 대행하며 이와 관련된 고객의 문의에 대해 "업체"와 공동으로 응대한다.
          2. "업체"의 업무
          ① "업체"는 "회사"의 시스템에 등록되어 있는 정보와 현장의 정보를 동일하게 제공해야 하며, 현장의 상황이 변경되었을 경우 즉시 정보를 변경하여야 한다.
          (객실금액/사진/부대시설내용 등)
          ② "업체"는 재고 관리를 철저히 해야하며, "회사" 시스템의 재고 수와 동일하게 관리하는 등 중복에 대한 방지를 위해 노력하여야 하며, 중복예약 발생시 해결을
          위한 노력을 해야한다.
          ③ "업체"는 불가피한 사항으로 예약현황을 관리할 수 없을 경우 최소 15일전에 관리시스템에서의 상품판매 중지 또는 “회사”에 판매중지 통보를 하여야 하며,
        label.custom-control.custom-checkbox
          input.custom-control-input(type='checkbox', checked)
          span.custom-control-label 상품판매 약관에 동의합니다.
        .text-center.py-3
          button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal', onclick='location.href="/"') 확인


//- 임시 스크립트: 모달
script.
  $('li').click(function(){
    $('#selectPropertyModal').modal('hide').delay(1000);
    $('#agreementModal').modal();
  });

  $('#updateModal').modal();
