include ./includes/header.pug

//-------- 공지사항 ---------//
body
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 공지사항
      table.table.table-hover.text-center.align-middle
        thead.bg-light
          tr
            th(style='width: 10rem') 번호
            th 제목
            th(style='width: 18rem') 등록일
        tbody
          tr(onclick='location.href="/notice-view"')
            td
              img(src='/assets/images/bell.svg')
            td.text-left 서버 이전 작업 안내
            td 2018.03.05(월) 15:32
          tr(onclick='location.href="/notice-view"')
            td 01
            td.text-left ONDA 온다 베타 런칭 안내
            td 2018.02.14(수) 07:08


    include ./includes/footer.pug