include ./includes/header.pug

//-------- 정산목록 Page ---------//
body.two-depth(name='payment', page='history')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 정산목록
      p.mb-5 매주 금요일에 지난주(월요일~일요일) 이용 건에 대해 입금해 드립니다.
      .form-group.row
        label.col-sm-2.pt-1 지금일
        .col-sm-10
          .form-inline
            input.form-control.form-control-datepicker(type='text', value='2017.07.16(수)', size='18')
            span.px-2 ~
            input.form-control.form-control-datepicker.mr-2(type='text', value='2017.08.20(목)', size='18')
            button.btn.btn-white(type='button') 불러오기
            .btn-group.btn-group-toggle.d-flex.align-items-center.ml-3(data-toggle='buttons')
              label.btn.btn-white.active
                input(type='radio', name='radio1', autocomplete='off', checked)
                | 최근 1개월
              label.btn.btn-white
                input(type='radio', name='radio2', autocomplete='off')
                | 최근 6개월
              label.btn.btn-white
                input(type='radio', name='radio3', autocomplete='off')
                | 최근 1년
      .form-group.row
        label.col-sm-2 정산계좌
        .col-sm-10
          | 국민은행 436902-04-112722 (예금주 조영수)

      .d-flex.mb-3
        select.custom-select.mr-2(style='width: 13rem')
          option(selected) 20씩 보기
          option 30개씩 보기
          option 50개씩 보기
          option 100개씩 보기
        select.custom-select(style='width: 13rem')
          option(selected) 모든 정산상태
          option 정산대기
          option 정산완료
        .text-muted.ml-auto 16건의 정산목록을 불러왔습니다.

      table.table.text-center
        thead.bg-light
          tr
            th 지급일
            th 기간
            th 총 결제금액
            th 정산금액
            th 내역보기
            th 정산상태
        tbody
          tr
            td 2017.02.09(목)
            td.text-left 2017.01.30(월) ~ 2017.02.05(일)
            td test

