include ./includes/header.pug

//-------- 통계 Page ---------//
body(name='report')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard.transparent
      .section-board
        .board-title 통계
        .row.pb-5
          .col-sm-8.offset-sm-2
            .calendar-controler
              .form-inline.justify-content-center
                .year-month 2018년 1월
                .btn-group.mx-3
                  button.btn.btn-white.border-right-0(type='button')
                    img(src='/assets/images/go-pre.svg')
                  button.btn.btn-white.border-left-0(type='button')
                    img(src='/assets/images/go-next.svg')
          .col-sm-2.text-right
            button.btn.btn-white.ml-auto(type='button')
              img.mr-1(src='/assets/images/download.svg')
              | 엑셀 다운받기
        .row.mt-4
          .col-4.summary.mb-5.mb-xl-0
            h4.mb-3 이달의 누적 판매금액
            .revenue
              span.number 320,000
              span 원
            .text-muted
              span.align-middle 작년 동기대비 80,000
              img.ml-2(src='/assets/images/triangle-up.svg')
            table.table.table-bordered
              tr
                td.bg-light.font-weight-bold 예약
                td.text-right 6건
                td.text-right 380,000원
              tr
                td.bg-light.font-weight-bold 취소 수수료
                td.text-right 2건
                td.text-right 240,000원
            small.text-muted 판매사 규정에 따라 취소수수료 금액이 달라질 수 있습니다.
          .col-8
            .row
              .col-3.brief
                h4 객실 평균 판매금액
                .small.text-muted ADR
                .value
                  span.number 87,500
                  span 원
                .seperate
                  div
                    span 주중
                    span 85,000원
                  div
                    span 주말
                    span 121,000원
              .col-3.brief
                h4 객실 가동률
                .small.text-muted Occupancy
                .value
                  span.number 52.74
                  span %
                .seperate
                  div
                    span 주중
                    span 38.79%
                  div
                    span 주말
                    span 82.54%
              .col-3.brief
                h4 예약 리드타임
                .small.text-muted Leadtime
                .value
                  span.mr-1 입실
                  span.number 12
                  span 일전 예약
                .seperate
                  div
                    span 주중
                    span 입실 15일전 예약
                  div
                    span 주말
                    span 입실 8일전 예약
              .col-3.brief
                h4 취소율
                .small.text-muted Cancel ratio
                .value
                  span.number 10.34
                  span %
                .seperate
                  div
                    span 주중
                    span 18.79%
                  div
                    span 주말
                    span 7.54%

      .section-board
        .row
          .col-4
            h4.mb-4 예약 점유율
            img(src='/assets/images/temp-chart-01.png', style='width: 90%')
          .col-4
            h4.mb-4 판매채널별 판매금액
            table.table.text-center.mb-0
              thead.bg-light
                tr
                  th 번호
                  th 판매채널
                  th 예약
                  th 판매금액
              tbody
                tr
                  td 1
                  td.text-left 실시간 예약창
                  td 4건
                  td 380,000원
                tr
                  td 2
                  td.text-left 티몬
                  td 6건
                  td 450,000원
                tr
                  td 3
                  td.text-left 네이버
                  td 3건
                  td 290,000원
                tr
                  td 4
                  td.text-left 11번가
                  td 2건
                  td 79,000원
          .col-4
            h4.mb-4 객실별 판매금액
            table.table.text-center.mb-0
              thead.bg-light
                tr
                  th 번호
                  th 객실명
                  th 예약
                  th 판매금액
              tbody
                tr
                  td 1
                  td 2인실(트윈룸)
                  td 4건
                  td 380,000원
                tr
                  td 2
                  td 1,2인실(더블룸)
                  td 6건
                  td 450,000원
                tr
                  td 3
                  td 3인실(트리플룸)
                  td 3건
                  td 290,000원

      .section-board
        h4.mb-4 올해의 월간 판매금액
        img.img-fluid(src='/assets/images/temp-chart-02.png')

    include ./includes/footer.pug
