include ./includes/header.pug

//-------- 예약목록 page ---------//
body(name='reservation-list')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title.border-0.mb-2.pt-3 예약목록
      .list-top-filter
        .form-inline
          select.custom-select.mr-4(style='width: 8rem')
            option(selected) 예약일
            option 입실일
          input.form-control.form-control-datepicker(type='text', value='2017.07.16(수)', size='18')
          span.px-2 ~
          input.form-control.form-control-datepicker(type='text', value='2017.08.20(목)', size='18')
          .btn-group.btn-group-toggle.mx-4(data-toggle='buttons')
            label.btn.btn-white.active
              input(type='radio', name='options', autocomplete='off', checked)
              |  어제
            label.btn.btn-white
              input(type='radio', name='options', autocomplete='off')
              |  오늘
            label.btn.btn-white
              input(type='radio', name='options', autocomplete='off')
              |  최근 1주
            label.btn.btn-white
              input(type='radio', name='options', autocomplete='off')
              |  최근 1개월
          .input-group
            input.form-control(type="text", placeholder='예약자명/연락처/고객 요청사항/관리자 메모', style='width: 22rem')
            .input-group-append
              button.btn.btn-primary.py-0.px-2(type='button')
                img(src='/assets/images/search_white.svg', style='margin-top: -.2rem')
          button.btn.btn-white.border-0(type='button')
            | 검색어 삭제
            i.fa.fa-times.fa-lg.ml-1

      .form-inline.mb-3
        select.custom-select.mr-2
          option 판매채널
          option PC 예약창
          option Mobile 예약창
          option 무료 홈페이지
          option 티몬
          option 네이버
          option 11번가
          option 에어비앤비
        select.custom-select.mr-2
          option 예약상태
          option 입금대기
          option 예약완료
          option 예약취소
          option 미입금취소
        select.custom-select.mr-2
          option 결제수단
          option 무통장입금
          option 카드결제
          option 판매사
        select.custom-select
          option 20개씩 보기
          option 30개씩 보기
          option 50개씩 보기
          option 100개씩 보기
        button.btn.btn-white.ml-auto(type='button')
          img.mr-1(src='/assets/images/download.svg')
          | 엑셀 다운받기
      table.table.text-center.align-middle
        thead.bg-light
          tr
            th.text-left.pl-4(style='width: 10%') 판매채널/예약일시
            th 객실명
            th 입실일
            th 예약자
            th 결제금액
            th 결제수단
            th 상태
            th(style='width: 15%') 고객 요청사항
            th(style='width: 15%') 관리자 메모
        tbody
          tr
            td.text-left.pl-4
              | PC 예약창
              br
              | 2017-03-20
              br
              | 15:20
            td
              | 하늘채 사랑방
            td
              | 2017.03.20
              br
              | (1박)
            td
              | 정우성
              br
              | 010-1111-2222
              br
              button.btn.btn-white.btn-small.warning-mark.mt-2(type='button', data-toggle='modal', data-keyboard='true', data-target='#smsModal') SMS
            td
              | 230,000원
            td
              | 무통장입금
            td
              span.text-blue 입금대기
            td.text-left
              b.mr-1 요청사항:
              | 늦게 도착할것 같아서 도착하기 두시간 정도전에 전화 드리고 바베큐 좀 부탁드립니다.
              br
              b.mr-1 도착예정:
              | 23:00
            td.text-left
              | 위메프티켓 J4C3I5GLDL 9K
          tr
            td.text-left.pl-4
              | Mobile 예약창
              br
              | 2017-03-20
              br
              | 15:20
            td
              | 해
              br
              | 댤
            td
              | 2017.03.20
              br
              | (1박)
            td
              | 정우성
              br
              | 010-1111-2222
              br
              button.btn.btn-white.btn-small.mt-2(type='button') SMS
            td
              | 230,000원
            td
              | 판매사결제
            td
              span.text-red 예약취소
            td.text-left
              b.mr-1 추가인원 현장결제:
              | 20,000원
              br
              b.mr-1 도착예정:
              | 23:00
            td.text-left
              | 5만원 먼저 입금
              br
              | 129,000원은 당일결제
          tr
            td.text-left.pl-4
              | 11번가
              br
              | 2017-03-20
              br
              | 15:20
            td
              | 별
            td
              | 2017.03.20
              br
              | (1박)
            td
              | 정우성
              br
              | 010-1111-2222
              br
              button.btn.btn-white.btn-small.mt-2(type='button') SMS
            td
              del.text-muted 300,000원
              br
              | 90,000원
              br
              span.text-red (3일전 취소)
            td
              | 무통장입금
            td
              | 예약완료
            td.text-left
            td.text-left

    include ./includes/footer.pug


//- SMS Modal
#smsModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title SMS 발신내역
        a.close(data-dismiss='modal')
          img(src='/assets/images/close.svg')
      .modal-body
        table.table.text-center.align-middle
          thead.bg-light
            tr
              th(style='width: 42%') 메세지
              th 발신번호
              th 수신번호
              th 발송일시
              th 상태
          tbody
            tr
              td.text-left
                | [ONDA(티포트)] 예약이 취소되었습니다.
                br
                | - 예약채널: TMON
                br
                | - 예약번호: TM-P5GGUKA4T
                br
                | - 예약자명: 박혜연
                br
                | - 연락처: 01029972659
                br
                | - 업체명: [파주]임진강리조트
                br
                | - 객실명: 콘도(온돌)
                br
                | - 이용기간: 2018.03.24.(토)~2018.03.25.(일) (1박 2일)
                br
                |- 결제금액: 55,000원
              td 1544-3812
              td 010-1111-2222
              td
                | 2017.03.20
                br
                | 15:20
              td
                span.text-red 전송실패
                br
                | 1111 전달
            tr
              td.text-left
                | [ONDA(티포트)] 예약이 취소되었습니다.
                br
                | - 예약채널: TMON
                br
                | - 예약번호: TM-P5GGUKA4T
                br
                | - 예약자명: 박혜연
                br
                | - 연락처: 01029972659
                br
                | - 업체명: [파주]임진강리조트
                br
                | - 객실명: 콘도(온돌)
                br
                | - 이용기간: 2018.03.24.(토)~2018.03.25.(일) (1박 2일)
                br
                |- 결제금액: 55,000원
              td 1544-3812
              td 010-1111-2222
              td
                | 2017.03.20
                br
                | 15:20
              td
                | 전송완료

