include ./includes/header.pug

//-------- 업체설정: 숙소정보 Page ---------//
body.two-depth(name='setting', page='property')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 숙소정보
      .board-container
        .form-group.row
          label.col-sm-2.pt-1 숙소명
          .col-sm-10
            input.form-control(type='text', value='테스트테스트')
        .form-group.row
          label.col-sm-2.pt-1 주소
          .col-sm-10
            button.btn.btn-small.btn-white.mb-2(type='button') 주소찾기
            .input-group.mb-2
              .input-group-prepend
                .input-group-text 지번
              input.form-control(type='text')
            .input-group
              .input-group-prepend
                .input-group-text 도로명
              input.form-control(type='text')
        .form-group.row
          label.col-sm-2.pt-1 체크인/체크아웃
          .col-sm-10
            .form-row
              .col-sm-6
                .input-group.mb-2.mb-md-0
                  .input-group-prepend
                    .input-group-text 체크인 시작
                  input.form-control(type='text', value='15:00')
              .col-sm-6
                .input-group.mb-2.mb-md-0
                  .input-group-prepend
                    .input-group-text 체크인 마감
                  input.form-control(type='text', value='22:00')
              .col-sm-12.mt-2
                .input-group
                  .input-group-prepend
                    .input-group-text 체크아웃
                  input.form-control(type='text', value='11:00')
        .form-group.row
          label.col-sm-2.pt-1 소개
          .col-sm-10
            textarea.form-control(rows='5')
        .form-group.row
          label.col-sm-2.pt-1 예약안내
          .col-sm-10
            textarea.form-control(rows='5')
        .form-group.row
          label.col-sm-2.pt-1 수영장 보유여부
          .col-sm-10
            .d-flex.align-items-center
              label.custom-control.custom-radio.custom-control-inline.mr-4
                input.custom-control-input(type='radio', name='radio1', checked)
                span.custom-control-label 보유안함
              label.custom-control.custom-radio.custom-control-inline
                input.custom-control-input(type='radio', name='radio1')
                span.custom-control-label 보유
              .form-inline
                select.custom-select.mr-3(style='width: 10rem')
                  option(selected) 오픈기간
                  option 상시운영
                input.form-control.form-control-datepicker(type='text', value='2017.07.16(수)', size='18')
                span.px-2 ~
                input.form-control.form-control-datepicker.mr-2(type='text', value='2017.08.20(목)', size='18')
        .form-group.row.mb-3
          label.col-sm-2.pt-1 사진
          .col-sm-10
            .image-upload.form-row.mt-2
              .unit.grabbable.col-3.first-image(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')

            //- 기본
            .d-flex.mb-4
              button.btn.btn-white.btn-small.mr-3(type='button')
                img(src='/assets/images/ic-camera.svg', style='position:relative; top:-2px; margin-right: 5px')
                span 이미지 추가
              button.btn.btn-white.btn-small(type='button') 수정

            //- 수정 중
            .d-flex.mb-4
              button.btn.btn-white.btn-small.mr-3(type='button')
                img(src='/assets/images/ic-camera.svg', style='position:relative; top:-2px; margin-right: 5px')
                span 이미지 추가
              button.btn.btn-secondary.btn-small.mr-1(type='button') 취소
              button.btn.btn-primary.btn-small(type='button') 저장
              .info.ml-2 사진순서는 드래그로 변경 가능하며, 1번 사진이 대표 사진으로 설정됩니다.
              button.btn.btn-white.btn-small.ml-auto(type='button')
                i.fa.fa-trash.fa-lg.mr-1
                span 전체삭제

        .form-group.row
          label.col-sm-2.pt-1 숙소특성
          .col-sm-10
            .bg-light.px-4.py-3.rounded
              .check-group
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 테스트
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 가족
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 고급/럭셔리
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 단체/MT
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 커플
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 풀빌라
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 한옥
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 애견펜션
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 키즈펜션
        .form-group.row
          label.col-sm-2.pt-1 공용시설
          .col-sm-10
            .bg-light.px-4.py-3.rounded
              .check-group
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 노래방
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 매점/편의점
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 바베큐장
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 세미나실
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 수영장
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 카페
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 피트니스
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 공용스파
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 골프장
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 레스토랑
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 키즈플레이
        .form-group.row
          label.col-sm-2.pt-1 서비스
          .col-sm-10
            .bg-light.px-4.py-3.rounded
              .check-group
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label WIFI
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 반려동물
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 발렛파킹
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 셔틀버스
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 조식
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 짐보관
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 취사가능
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 프린터사용
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 픽업
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 금연
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 객실내흡연
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 개인사물함
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 무료주차
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 장애인편의
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 공항셔틀
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 바/라운지
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 마사지
        .form-group.row
          label.col-sm-2.pt-1 주변관광지
          .col-sm-10
            .bg-light.px-4.py-3.rounded
              .check-group
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 골프장 주변
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 수목원 주변
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 스키장 주변
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 해수욕장
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 강/호수주변

        .text-center.pt-4
          button.btn.btn-primary.btn-lg(type='button') 저장



    include ./includes/footer.pug