include ./includes/header.pug

//-------- 취소환불정책 Page ---------//
body.two-depth(name='setting', page='policy')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 설정 - 취소환불정책
      p
        | 실시간 예약창을 사용하는 경우 환불기준을 직접 설정할 수 있습니다.
        br
        | 온라인 판매대행 서비스를 이용하시는 경우 판매 사이트별 취소환불 규정을 확인할 수 있습니다.
      .info 모든 설정값은 환불 % 입니다.

      .table-responsive
        table.table.table-rate.text-center.align-middle.table-bordered(style='min-width: 1000px')
          thead.bg-light
            tr
              th(style='width: 20%') 구분
              th 실시간 예약창
              th 네이버
              th 티몬
              th 에어비앤비
              th 아고다
            tr.sub-header
              th.text-left.px-4(style='width: 15%; min-width: 12rem') 환불 기준시각
              th 자정(00:00)
              th 전일 오후 5시(17:00)
              th 자정(00:00)
              th 자정(00:00)
              th 자정(00:00)
          tbody
            tr
              td.text-left.px-4 10일전 취소
              td
                .percentage-form
                  input.form-control.text-center.dirty(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100', disabled)
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center.dirty(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center.dirty(type='number', value='100', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 9일전 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 8일전 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='100', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 7일전 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 6일전 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='80', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 5일전 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 4일전 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 3일전 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='70', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 2일전 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='50', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='50', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='50', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='50', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='50', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 1일전 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='30', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='30', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='30', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='30', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='30', step='10', min='0', max='100')
                  span %
            tr
              td.text-left.px-4 당일 취소
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='0', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='0', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='0', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='0', step='10', min='0', max='100')
                  span %
              td
                .percentage-form
                  input.form-control.text-center(type='number', value='0', step='10', min='0', max='100')
                  span %


      .row.text-center.pt-4.no-gutters
          .col-8.offset-2
            button.btn.btn-primary.btn-lg(type='button') 저장
          .col-2.text-right.pt-1
            button.btn.btn-white(type='button')
              i.fa.fa-plus.fa-lg.mr-1
              | 환불기준일 추가

    include ./includes/footer.pug



