include ./includes/header.pug

//-------- 업체설정: 홈페이지 설치안내 Page ---------//
body.two-depth(name='setting', page='url')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 홈페이지 설치안내
      .board-container
        .form-group.row
          label.col-sm-2.pt-1 실시간 예약창 주소
          .col-sm-10
            .mb-1 캘린더형 (큰 달력)
            .form-inline.mb-3
              input.form-control.mr-2(type='text', value='https://app.onda.me/v2/booking/damon/week', style='width: 30rem', readonly, onclick='this.select();')
              a.btn.btn-white.mr-1(href='https://app.onda.me/v2/booking/damon/week', target='_blank') 미리보기
              button.btn.btn-white(type='button') 스크립트 복사
            .mb-1 캘린더형 (작은 달력)
            .form-inline.mb-3
              input.form-control.mr-2(type='text', value='https://app.onda.me/v2/booking/damon/week', style='width: 30rem', readonly, onclick='this.select();')
              a.btn.btn-white.mr-1(href='https://app.onda.me/v2/booking/damon/week', target='_blank') 미리보기
              button.btn.btn-white(type='button') 스크립트 복사
            .mb-1 날짜 검색형
            .form-inline.mb-3
              input.form-control.mr-2(type='text', value='https://app.onda.me/v2/booking/damon/week', style='width: 30rem', readonly, onclick='this.select();')
              a.btn.btn-white.mr-1(href='https://app.onda.me/v2/booking/damon/week', target='_blank') 미리보기
              button.btn.btn-white(type='button') 스크립트 복사
        .form-group.row
          label.col-sm-2.pt-1 주간 캘린더 주소
          .col-sm-10
            .mb-1 전체객실
            .form-inline.mb-3
              input.form-control.mr-2(type='text', value='https://app.onda.me/v2/booking/damon/week', style='width: 30rem', readonly, onclick='this.select();')
              a.btn.btn-white.mr-1(href='https://app.onda.me/v2/booking/damon/week', target='_blank') 미리보기
              button.btn.btn-white(type='button') 스크립트 복사
            .mb-1 해
            .form-inline.mb-3
              input.form-control.mr-2(type='text', value='https://app.onda.me/v2/booking/damon/week', style='width: 30rem', readonly, onclick='this.select();')
              a.btn.btn-white.mr-1(href='https://app.onda.me/v2/booking/damon/week', target='_blank') 미리보기
              button.btn.btn-white(type='button') 스크립트 복사
            .mb-1 달
            .form-inline.mb-3
              input.form-control.mr-2(type='text', value='https://app.onda.me/v2/booking/damon/week', style='width: 30rem', readonly, onclick='this.select();')
              a.btn.btn-white.mr-1(href='https://app.onda.me/v2/booking/damon/week', target='_blank') 미리보기
              button.btn.btn-white(type='button') 스크립트 복사
            .mb-1 별
            .form-inline.mb-3
              input.form-control.mr-2(type='text', value='https://app.onda.me/v2/booking/damon/week', style='width: 30rem', readonly, onclick='this.select();')
              a.btn.btn-white.mr-1(href='https://app.onda.me/v2/booking/damon/week', target='_blank') 미리보기
              button.btn.btn-white(type='button') 스크립트 복사

    include ./includes/footer.pug