include ./includes/header.pug

//-------- 업체설정: 서비스 수정 Page ---------//
body.two-depth(name='setting', page='service')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 부가서비스
      .board-container
        .form-group.row
          label.col-sm-2.pt-1 부가서비스명
          .col-sm-10
            input.form-control(type='text', placeholder='숯불, 바베큐, 조식, 파티, 이벤트 등 부가서비스 명을 입력하세요.')
        .form-group.row
          label.col-sm-2.pt-1 상세설명
          .col-sm-10
            textarea.form-control(rows='5', placeholder='상세설명은 실시간 예약창의 부가서비스 상세설명에 보여집니다.')
        .form-group.form-row
          label.col-sm-2.pt-1 판매요금
          .col-sm-5
            .input-group
              input.form-control(type='text')
              .input-group-append
                .input-group-text 원
        .form-group.row
          label.col-sm-2.pt-1 최소/최대수량
          .col-sm-10
            .form-row
              .col-sm
                .input-group
                  .input-group-prepend
                    .input-group-text 최소
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 개
              .col-sm
                .input-group
                  .input-group-prepend
                    .input-group-text 최대
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 개
            .info 고객이 한 번에 주문할 수 있는 수량입니다.
        .form-group.row
          label.col-sm-2.pt-1 당일판매
          .col-sm-10
            label.custom-control.custom-radio.custom-control-inline
              input.custom-control-input(type='radio', name='radio1', checked)
              span.custom-control-label 가능
            label.custom-control.custom-radio.custom-control-inline.mr-4
              input.custom-control-input(type='radio', name='radio1')
              span.custom-control-label 불가
            .info
              | 프로포즈 이벤트, 단체식사준비 등 당일판매가 불가능한 부가서비스는 불가를 선택해주세요.
        .form-group.row
          label.col-sm-2.pt-1 판매상태
          .col-sm-10
            label.custom-control.custom-radio.custom-control-inline
              input.custom-control-input(type='radio', name='radio1', checked)
              span.custom-control-label 판매
            label.custom-control.custom-radio.custom-control-inline.mr-4
              input.custom-control-input(type='radio', name='radio1')
              span.custom-control-label 판매안함

        .row.text-center.pt-4.no-gutters
          .col-8.offset-2
            button.btn.btn-secondary.btn-lg.mr-1(type='button') 취소
            button.btn.btn-primary.btn-lg(type='button') 저장
          .col-2.text-right
            button.btn.btn-white(type='button')
              i.fa.fa-trash.fa-lg.mr-2
              b 삭제


    include ./includes/footer.pug