include ./includes/header.pug

//-------- 취소환불정책 Page ---------//
body.two-depth(name='setting', page='policy')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 설정 - 취소환불정책
      .form-group.row
        label.col-sm-2 환불기준 시각
        .col-sm-10 자정(00:00)
      .form-group.row
        label.col-sm-2.pt-1 환불기준
        .col-sm-10
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 당일 취소
              input.form-control.text-right(type='number', min='0', max='100', value='0')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 1일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='30')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 2일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='50')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 3일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='70')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 4일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='80')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 5일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='90')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 6일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='100')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 7일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='100')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 8일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='100')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 9일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='100')
              .input-group-append
                .input-group-text % 환불
          .form-inline
            .input-group.mb-2(style='width: 19rem')
              .input-group-prepend
                .input-group-text.justify-content-end(style='width: 7rem') 10일전 취소
              input.form-control.text-right(type='number', min='0', max='100', value='100')
              .input-group-append
                .input-group-text % 환불
            button.btn.btn-white.btn-close.ml-2.mb-2(type='button', data-placement='right', data-toggle='tooltip', title='삭제')
              i.fa.fa-times.fa-lg

          button.btn.btn-white.btn-small(type='button')
            i.fa.fa-plus.fa-lg.mr-1
            | 추가
          .info.mt-3 온라인 판매대행 서비스를 이용하시는 경우 판매 사이트별 취소환불정책이 달라질 수 있습니다.

      .text-center.pt-4
        button.btn.btn-primary.btn-lg(type='button') 저장



    include ./includes/footer.pug



