include ./includes/header.pug

//-------- 업체설정: 객실정보 수정 Page ---------//
body.two-depth(name='setting', page='rooms')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 객실정보
      .board-container
        .text-right.mb-2
          .dropdown
            button.btn.btn-white.dropdown-toggle(type='button', data-toggle='dropdown')
              | 다른 객실정보 불러오기
            .dropdown-menu.dropdown-menu-right
              a.dropdown-item(href='#') 객실 1
              a.dropdown-item(href='#') 객실 2
              a.dropdown-item(href='#') 객실 3
        .form-group.row
          label.col-sm-2.pt-1 객실명
          .col-sm-10
            input.form-control(type='text', value='테스트테스트')
        .form-group.row
          label.col-sm-2.pt-1 객실소개
          .col-sm-10
            textarea.form-control(rows='5')
        .form-group.row
          label.col-sm-2.pt-1 재고 수
          .col-sm-10
            input.form-control(type='number', value='1', min='1')
        .form-group.row
          label.col-sm-2.pt-1 수용인원
          .col-sm-10
            .form-row
              .col-sm
                .input-group
                  .input-group-prepend
                    .input-group-text 기준
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 명
              .col-sm
                .input-group
                  .input-group-prepend
                    .input-group-text 최대
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 명
        .form-group.row
          label.col-sm-2.pt-1 객실크기
          .col-sm-10
            .form-row
              .col-sm
                .input-group
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text m²
              .col-sm
                .input-group
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 평
        .form-group.row
          label.col-sm-2.pt-1 객실내부
          .col-sm-10
            .form-row
              .col-sm-6.mb-2
                .input-group
                  .input-group-prepend
                    .input-group-text 주방
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 개
              .col-sm-6.mb-2
                .input-group
                  .input-group-prepend
                    .input-group-text 거실
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 개
              .col-sm-6.mb-2
                .input-group
                  .input-group-prepend
                    .input-group-text 화장실
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 개
              .col-sm-6.mb-2
                .input-group
                  .input-group-prepend
                    .input-group-text 온돌방
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 개
              .col-sm-6
                .input-group
                  .input-group-prepend
                    .input-group-text 침대방
                  input.form-control(type='number', min='0')
                  .input-group-append
                    .input-group-text 개
        .form-group.row.mb-3
          label.col-sm-2.pt-1 사진
          .col-sm-10
            .image-upload.form-row.mt-2
              .unit.grabbable.col-3.first-image(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')

              //- 기본
            .d-flex.mb-4
              button.btn.btn-white.btn-small.mr-3(type='button')
                img(src='/assets/images/ic-camera.svg', style='position:relative; top:-2px; margin-right: 5px')
                span 이미지 추가
              button.btn.btn-white.btn-small(type='button') 수정

            //- 수정 중
            .d-flex.mb-4
              button.btn.btn-white.btn-small.mr-3(type='button')
                img(src='/assets/images/ic-camera.svg', style='position:relative; top:-2px; margin-right: 5px')
                span 이미지 추가
              button.btn.btn-secondary.btn-small.mr-1(type='button') 취소
              button.btn.btn-primary.btn-small(type='button') 저장
              .info.ml-2 사진순서는 드래그로 변경 가능하며, 1번 사진이 대표 사진으로 설정됩니다.
              button.btn.btn-white.btn-small.ml-auto(type='button')
                i.fa.fa-trash.fa-lg.mr-1
                span 전체삭제

        .form-group.row
          label.col-sm-2.pt-1 객실형태
          .col-sm-10
            .bg-light.px-4.py-3.rounded
              .check-group
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 도미토리형
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 독채형
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 복층형
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 원룸형
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 분리형

        .form-group.row
          label.col-sm-2.pt-1 객실 내 시설
          .col-sm-10
            .bg-light.px-4.py-3.rounded
              .check-group
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 냉장고
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 다리미
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 드라이기
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 미니바
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 쇼파
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 스파/월풀
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 에어컨
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 욕실용품
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 욕조
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 전기밥솥
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 커피포트
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label TV
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 흡연가능
                label.custom-control.custom-checkbox
                  input.custom-control-input(type='checkbox')
                  span.custom-control-label 파티룸
        .form-group.row
          label.col-sm-2.pt-1
            | 실시간 예약창
          .col-sm-10
            label.custom-control.custom-radio.custom-control-inline
              input.custom-control-input(type='radio', name='radio5', checked)
              span.custom-control-label 판매
            label.custom-control.custom-radio.custom-control-inline.mr-4
              input.custom-control-input(type='radio', name='radio5')
              span.custom-control-label 판매안함
        .form-group.row
          label.col-sm-2.pt-1
            | 온라인 판매대행
            .text-red.small.font-weight-bold (admin)
          .col-sm-10
            label.custom-control.custom-radio.custom-control-inline
              input.custom-control-input(type='radio', name='radio6', checked)
              span.custom-control-label 판매
            label.custom-control.custom-radio.custom-control-inline.mr-4
              input.custom-control-input(type='radio', name='radio6')
              span.custom-control-label 판매안함

        .row.text-center.pt-4.no-gutters
          .col-8.offset-2
            button.btn.btn-secondary.btn-lg.mr-1(type='button') 취소
            button.btn.btn-primary.btn-lg(type='button') 저장
          .col-2.text-right.pt-1
            button.btn.btn-white(type='button')
              i.fa.fa-trash.fa-lg.mr-1
              b 삭제


    include ./includes/footer.pug