include ./includes/header.pug

//-------- 업체설정: 객실정보 Page ---------//
body.two-depth(name='setting', page='rooms')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 객실정보

      table.table.text-center.align-middle
        thead.bg-light
          tr
            th 순서
            th(style='width: 50%') 객실명
            th 객실수
            th 기준/최대인원
            th(style='width: 13%') 실시간 예약창
            th(style='width: 13%') 온라인 판매대행
        tbody
          tr.link(onclick='location.href="/setting/rooms/edit"')
            td 01
            td.text-left 황토동-은하수201호
            td 1
            td 3/5
            td 판매
            td 판매안함
          tr.link(onclick='location.href="/setting/rooms/edit"')
            td 02
            td.text-left 황토동-은하수202호
            td 1
            td 3/5
            td 판매
            td 판매안함
          tr.link(onclick='location.href="/setting/rooms/edit"')
            td 03
            td.text-left 황토동-은하수203호
            td 1
            td 3/5
            td 판매
            td 판매안함
          tr.link(onclick='location.href="/setting/rooms/edit"')
            td 04
            td.text-left 하늘채(스파)
            td 1
            td 2/2
            td 판매
            td 판매안함
          tr.link(onclick='location.href="/setting/rooms/edit"')
            td 05
            td.text-left 복층(테라스)
            td 1
            td 6/8
            td 판매
            td 판매안함

      .row.mt-4
        .col
          button.btn.btn-white(type='button')
            i.fa.fa-arrows-v.mr-1
            b 순서변경
        .col.text-right
          a.btn.btn-white(href='/setting/rooms/edit')
            i.fa.fa-plus.fa-lg.mr-1
            b 객실 등록

    include ./includes/footer.pug