include ./includes/header.pug

//-------- 업체설정:  판매사 연동현황 Page ---------//
body.two-depth(name='setting', page='gds-status')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 판매사 연동현황

      //- .text-center(style='margin-top: 230px') 연동된 판매사가 없습니다.

      hr.table-devider

      table.table.table-bordered.table-gds-status.align-middle
        tbody
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-tmon.png')
          tr
            td.title 상품명
            td
              strong.mr-2 [판매중]
              | [태안군] 갯벌부흥펜션
              a.btn.btn-white.btn-small.ml-2(href='#', target='_blank') 상품보기
          tr
            td.title
              | 취소환불정책
              br
              | (판매사 규정)
            td
              .mb-3 환불기준 시각: 전일 오후 5시(17:00)
              | - 입실 당일
              span.text-red.mx-1 0%
              | 환불
              br
              | - 입실 1일전
              span.text-red.mx-1 30%
              | 환불
              br
              | - 입실 2일전
              span.text-red.mx-1 50%
              | 환불
              br
              | - 입실 3일전
              span.text-red.mx-1 70%
              | 환불
              br
              | - 입실 4일전
              span.text-red.mx-1 80%
              | 환불
              br
              | - 입실 5일전
              span.text-red.mx-1 90%
              | 환불
              br
              | - 입실 6일전
              span.text-red.mx-1 100%
              | 환불

      hr.table-devider

      table.table.table-bordered.table-gds-status.align-middle
        tbody
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-11.png')
          tr
            td.title 상품명
            td
              strong.text-blue.mr-2 [판매대기중]
              | 갯벌부흥펜션(태안펜션/충남펜션/가족펜션/커플펜션/BBQ /可炊事/ 海水浴 /펜션/ 高 夫 /족구장)
              a.btn.btn-white.btn-small.ml-2(href='#', target='_blank') 상품보기
          tr
            td.title
              | 취소환불정책
              br
              | (숙소 규정)
            td
              .mb-3 환불기준 시각: 전일 오후 5시(17:00)
              | - 입실 당일
              span.text-red.mx-1 0%
              | 환불
              br
              | - 입실 1일전
              span.text-red.mx-1 30%
              | 환불
              br
              | - 입실 2일전
              span.text-red.mx-1 50%
              | 환불
              br
              | - 입실 3일전
              span.text-red.mx-1 70%
              | 환불
              br
              | - 입실 4일전
              span.text-red.mx-1 80%
              | 환불
              br
              | - 입실 5일전
              span.text-red.mx-1 90%
              | 환불
              br
              | - 입실 6일전
              span.text-red.mx-1 100%
              | 환불

      hr.table-devider

      table.table.table-bordered.table-gds-status.align-middle
        tbody
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-naver.png')
          tr
            td.title(rowspan='2') 상품명
            td
              strong.text-blue.mr-2 [판매대기중]
              | 파스텔 블루와 화이트의 조합으로 구름 속을 떠다니는 듯한 느낌의 복층 객실-A동
              a.btn.btn-white.btn-small.ml-2(href='#', target='_blank') 상품보기
          tr
            td
              strong.mr-2 [판매중]
              | 파스텔 블루와 화이트의 조합으로 구름 속을 떠다니는 듯한 느낌의 복층 객실-B동
              a.btn.btn-white.btn-small.ml-2(href='#', target='_blank') 상품보기
          tr
            td.title
              | 취소환불정책
              br
              | (판매사 규정)
            td
              .mb-3 환불기준 시각: 전일 오후 5시(17:00)
              | - 입실 당일
              span.text-red.mx-1 0%
              | 환불
              br
              | - 입실 1일전
              span.text-red.mx-1 30%
              | 환불
              br
              | - 입실 2일전
              span.text-red.mx-1 50%
              | 환불
              br
              | - 입실 3일전
              span.text-red.mx-1 70%
              | 환불
              br
              | - 입실 4일전
              span.text-red.mx-1 80%
              | 환불
              br
              | - 입실 5일전
              span.text-red.mx-1 90%
              | 환불
              br
              | - 입실 6일전
              span.text-red.mx-1 100%
              | 환불

      hr.table-devider

      table.table.table-bordered.table-gds-status.align-middle
        tbody
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-4.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-6.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-12.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-16.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-17.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-19.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-20.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-21.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-22.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-23.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-24.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-25.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-26.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-27.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-28.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-29.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-30.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-31.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-32.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-34.png')
          tr
            td.title 판매사
            td
              .channel
                img.bi(src='/assets/images/bi-35.png')







    include ./includes/footer.pug