include ./includes/header.pug

//-------- 업체설정: 무료홈페이지 설정 Page ---------//
body.two-depth(name='setting', page='website')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 무료 홈페이지 설정
      .board-container
        .form-group.row
          label.col-sm-2.pt-1 테마컬러
          .col-sm-10
            .form-inline.d-flex.justify-content-between
              label.custom-control.custom-radio
                input.custom-control-input(type='radio', name='radio1', checked)
                span.custom-control-label
                  .p-3.d-inline-block.rounded(style='background-color: #343a40;')
              label.custom-control.custom-radio
                input.custom-control-input(type='radio', name='radio1')
                span.custom-control-label
                  .p-3.d-inline-block.rounded.border(style='background-color: white;')
              label.custom-control.custom-radio
                input.custom-control-input(type='radio', name='radio1')
                span.custom-control-label
                  .p-3.d-inline-block.rounded(style='background-color: #E73E46;')
              label.custom-control.custom-radio
                input.custom-control-input(type='radio', name='radio1')
                span.custom-control-label
                  .p-3.d-inline-block.rounded(style='background-color: #f88938;')
              label.custom-control.custom-radio
                input.custom-control-input(type='radio', name='radio1')
                span.custom-control-label
                  .p-3.d-inline-block.rounded(style='background-color: #f765a0;')
              label.custom-control.custom-radio
                input.custom-control-input(type='radio', name='radio1')
                span.custom-control-label
                  .p-3.d-inline-block.rounded(style='background-color: #60b911;')
              label.custom-control.custom-radio
                input.custom-control-input(type='radio', name='radio1')
                span.custom-control-label
                  .p-3.d-inline-block.rounded(style='background-color: #4b95ff;')
              label.custom-control.custom-radio
                input.custom-control-input(type='radio', name='radio1')
                span.custom-control-label
                  .p-3.d-inline-block.rounded(style='background-color: #334c75;')
              a.btn.btn-white.small(href='http://13.125.138.100:3300/', target='blank') 미리보기
        .form-group.row
          label.col-sm-2.pt-1 찾아오시는 길 안내
          .col-sm-10
            textarea.form-control(rows='5')
        .form-group.row
          label.col-sm-2.pt-1 주변관광지 안내
          .col-sm-10
            textarea.form-control(rows='5')
        .form-group.row
          label.col-sm-2.pt-1 부대시설 갯수
          .col-sm-10
            .form-inline
              select.custom-select
                option 1개
                option(selected) 2개
                option 3개
                option 4개
                option 5개
                option 6개
                option 7개
                option 8개
                option 9개
                option 10개
                option 11개
                option 12개
                option 13개
                option 14개
                option 15개
                option 16개
                option 17개
                option 18개
                option 19개
                option 20개

        hr.my-5

        .form-group.row
          label.col-sm-2.pt-1 부대시설1 이름
          .col-sm-10
            input.form-control(type='text', value='바베큐 그릴/숯')
        .form-group.row
          label.col-sm-2.pt-1 부대시설1 설명
          .col-sm-10
            textarea.form-control(rows='5')
        .form-group.row.mb-3
          label.col-sm-2.pt-1 부대시설1 사진
          .col-sm-10
            button.btn.btn-white.btn-small(type='button')
              img(src='/assets/images/ic-camera.svg', style='position:relative; top:-2px; margin-right: 5px')
              span 이미지 추가
            .image-upload.form-row.mt-2
              .unit.grabbable.col-3.first-image(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')

        hr.my-5

        .form-group.row
          label.col-sm-2.pt-1 부대시설2 이름
          .col-sm-10
            input.form-control(type='text', value='바베큐 그릴/숯')
        .form-group.row
          label.col-sm-2.pt-1 부대시설2 설명
          .col-sm-10
            textarea.form-control(rows='5')
        .form-group.row.mb-3
          label.col-sm-2.pt-1 부대시설2 사진
          .col-sm-10
            button.btn.btn-white.btn-small(type='button')
              img(src='/assets/images/ic-camera.svg', style='position:relative; top:-2px; margin-right: 5px')
              span 이미지 추가
            .image-upload.form-row.mt-2
              .unit.grabbable.col-3.first-image(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')
              .unit.grabbable.col-3(draggable='true')
                .image(style='background-image: url("/assets/images/temp-image.jpg")')
                  a.delete(href='#')
                    i.fa.fa-trash.fa-lg
                input.form-control.mt-2(type='text', placeholder='사진설명')


        .text-center.pt-4
          button.btn.btn-primary.btn-lg(type='button') 저장


    include ./includes/footer.pug