include ./includes/header.pug

//-------- 설정: 연박 설정 Page ---------//
body.two-depth(name='setting', page='multiday')
  include ./includes/main-nav-left.pug
  include ./includes/sub-nav.pug
  .content-container
    .artboard
      .board-title 연박설정
      table.table.text-center.align-middle
        thead.bg-light
          tr
            th 번호
            th(style='width: 40%') 객실
            th(style='width: 15%') 기간
            th 연박 수
            th 상태
            th 판매대행
        tbody
          tr
            td 03
            td.text-left
              div 해
              div 달
            td.text-left
              | 2018.03.05(월)~2018.03.09(금)
              .small.text-muted.mt-1 금, 토
            td 3박
            td 진행중
            td 판매안함
          tr
            td 02
            td.text-left
              div 전체 객실
            td.text-left
              | 2018.03.05(월)~2018.03.09(금)
              .small.text-muted.mt-1 월, 화, 수, 목, 금
            td 10박
            td 진행중
            td 판매안함
          tr.dimed
            td 01
            td.text-left
              div 해
              div 달
              div 별
              div 하늘
            td.text-left
              | 2018.03.05(월)~2018.03.09(금)
              .small.text-muted.mt-1 전체
            td 2박
            td 종료
            td 판매

      .text-right
        a.btn.btn-white(href='/setting/multiday-edit')
          i.fa.fa-plus.mr-1
          b 연박 등록

    include ./includes/footer.pug